a.deletelink {
    height: 35px !important;
    display: inline-block;
    box-sizing: border-box;
}
.select2 {
    min-width: 200px;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}
