body {
    -ms-overflow-style: scrollbar;
}

/*style nav headers in dropdowns*/
.nav-header {
    display: block;
    padding: 3px 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 18px;
    color: #999999;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-transform: uppercase;
}

/* Keep navbar margin, even with top-nav */
.layout-top-nav .main-header > .navbar {
  margin-left: 230px;
}

/*dropdown on hover rather than click */
ul.nav li.dropdown:hover ul.dropdown-menu{
    display: block;
}

/*style labels like the ones in the nav bar*/
.unreviewed-count-wrapper {
    /*position: absolute;*/
    /*top: 9px;*/
    /*right: 7px;*/
    display: inline-block;
    text-align: center;
    font-size: 9px;
    padding: 2px 3px;
    line-height: .9;
    margin-right: 1px;
}

.dropdown-menu  {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    border: 1px solid #bbb;
}
.popover {
    box-shadow: 2px 6px 4px rgba(53, 124, 165, .25);
    max-width: 100%;
    color: #777;
}

.btn > a, .btn > a:hover {
    color: inherit;
}

.fa-stack-custom-sub {
    position: absolute;
    width: 50%;
    height: 50%;
    right: 0;
    top: -5px;
}
.fa-stack-custom-main {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
}
.fa-stack.fa-fw {
    width: 1.2857142857142858em;
    height: 1em;
    /*line-height: inherit;*/
}
.fa.primary {
    color: #3c8dbc;
}
.fa.info {
    color: #00c0ef;
}
.fa.danger {
    color: #dd4b39;
}
.fa.warning {
    color: #f39c12;
}
.fa.success {
    color: #00a65a;
}
.fa.default {
    color: #d2d6de;
}
li.indent {
    text-indent: -1em;
    padding-left: 2em;
}
.border-default {
    border-color: #d2d6de;
}
.border-primary {
    border-color: #3c8dbc;
}
.border-info {
    border-color: #00c0ef;
}
.border-warning {
    border-color: #f39c12;
}
.border-success {
    border-color: #00a65a;
}
.border-danger {
    border-color: #dd4b39;
}
.callout-custom {
    border-right: 1px solid #d2d6de;
    border-top: 1px solid #d2d6de;
    border-bottom: 1px solid #d2d6de;
}
.left-border {
    border-left-width: 1px;
    border-left-style: solid;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.pre {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
    font-size: 12.025px;
    line-height: 18px;
}
.pre.grayed {
    border: 1px solid rgba(210, 214, 222, 0.5);
}
.callout-custom a {
    color: #3c8dbc;
    text-decoration: none;
}
.callout-custom a:hover {
    color: #72afd2;
}
.fa-in-input {
    float: right;
    margin-right: 6px;
    margin-top: -20px;
    position: relative;
    z-index: 2;
}
div.daterangepicker.dropdown-menu button {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li.active {
    background-color: #3c8dbc;
    border-color: #367fa9;
    color: #fff;
}
div.daterangepicker.dropdown-menu li.active:hover {
    background-color: #367fa9;
    border-color: #204d74;
}
div.daterangepicker.dropdown-menu li:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}
.btn-fill {
    width: 100%;
    height: 100%
}
.alert > a.close {
    text-decoration: none;
}
.white {
    color: white !important;
}
.red-bg {
    background-color: #dd4b39;
    color: #fff;
}
.box-pho-borders {
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}
.box-red-borders {
    border-bottom: 1px solid #dd4b39;
    border-right: 1px solid #dd4b39;
    border-left: 1px solid #dd4b39;
}
.box-default-borders {
    border-bottom: 1px solid #d2d6de;
    border-right: 1px solid #d2d6de;
    border-left: 1px solid #d2d6de;
}
.box-footer .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
}

/* page loading */
.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .6 )
}
.loading-modal > .center {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-modal > .center > div {
    text-align: center;
}
body.loading {
    overflow: hidden;
}
body.loading .loading-modal {
    display: block;
}
.loading-logo {
    font-size: 24px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;

}
.box-small {
    margin: 4px;
}
.box-small .box-header {
    padding: 5px;
}
.box-small .box-header .box-title {
    font-size: 15px;
}
.bg-light-gray {
    background-color: #eeeeee;
}

/* label and badge groups */
.label-group > .label,
.label-group > .badge {
	border-radius: 0;
    margin: 0;
}
.label-group > .label:first-child {
	border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
.label-group > .label:last-child {
	border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}

.label-group > .badge:first-child {
    border-top-left-radius: 0.4em;
    border-bottom-left-radius: 0.4em;
}
.label-group > .badge:last-child {
    border-top-right-radius: 0.4em;
    border-bottom-right-radius: 0.4em;
}