div.daterangepicker.dropdown-menu button {
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li {
    background-color: #f4f4f4;
    color: #444;
    border-color: #ddd;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-width: 1px;
}
div.daterangepicker.dropdown-menu li.active {
    background-color: #627585;
    border-color: #546777;
    color: #fff;
}
div.daterangepicker.dropdown-menu li.active:hover {
    background-color: #546777;
    border-color: #3d4c5b;
}
div.daterangepicker.dropdown-menu li:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
}
body > div.daterangepicker.dropdown-menu > div.calendar > div.calendar-table > table > tbody > tr > td.active {
    background-color: #546777;
}