#chart {
    height: 800px;
    min-width: 300px;
}

#instructions-container {
    padding: 2px 14px 2px 14px;
    margin-bottom:3px;
    min-height:14px;
}

#chart-options hr{
    margin: 4px;
}

/*#test-filters .span1,*/
/*#test-filters .span2,*/
/*#test-filters .span3,*/
/*#test-filters .span4 {*/
    /*margin-left:0.56%*/
/*}*/

/*#test-filters .span1{*/
    /*width:12%;*/
/*}*/
/*#test-filters .span2{*/
    /*width:18%;*/
/*}*/
/*#test-filters .span3{*/
    /*width:24%;*/
/*}*/
/*#test-filters .span4{*/
    /*width:30%;*/
/*}*/

.control-container {
    position:relative;
    margin:5px 0;
    padding: 10px 5px 5px 5px;
    border:1px solid #DDD;
    background-color:#F9F9F9;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
}
.control-container:after{
    position:absolute;
    top:-1px;
    left:-1px;
    padding:3px;
    font-size:12px;
    font-weight:bold;
    background-color:whiteSmoke;
    border:1px solid #DDD;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.control-container label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    white-space: nowrap;
    font-weight: normal;
    font-size: 13px;
}
.control-container label:hover {
    background-color: #e1e3e9;
}
.control-container label > input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin:0 !important;
    vertical-align: bottom;
    position: relative !important;
    top: -1px;
    *overflow: hidden;
}
#cc-chart-options input{
    max-width:35px;
}
.options {
    border-bottom: solid #ddd 1px;
}

input.date-only-input{
    width:70px;
}

.please-wait {
  margin-bottom: 2px;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
#chart-actions {
    padding-top: 5px;
}
.checkbox-container {
    overflow-x: hidden;
    overflow-y: hidden;
}
.checkbox-container:hover {
    overflow-y: auto;
}
#status-checkboxes {
    height:50px;
}
.test-filter{
    height:235px;
    padding-top: 5px;
}
#test {
    height: 206px;
    padding-top: 5px;
}
/**********************************************/
/* Trending data table                        */
tr.col-group th{
    border-bottom:1px solid #ddd;
    text-align:center;
}
#data-container {
    padding-top:20px;
}
#data-container .well{
    overflow-x:auto;
}
table.data-table{
    width:auto;
}
table tr td.border-right-primary,
table tr th.border-right-primary {
    border-right: 1px solid #3c8dbc;
}
table tr td.border-left-primary,
table tr th.border-left-primary {
    border-left: 1px solid #3c8dbc;
}
table tr:last-child td {
    border-bottom: 1px solid #3c8dbc;
}
table thead tr:first-child th {
    border-top: 1px solid #3c8dbc !important;
}
.data-table th{
    text-align:center;
    max-width:100px;
}
.data-table td{
}
.data-table td.date{
    width:170px;
}
.data-table td.number{
    text-align:right;
}
#csv-export {
    margin: 5px;
}


/************************************************/
/* D3 */
.y.axis .tick line {
    stroke: #ddd;
    /*shape-rendering: crispEdges;*/
}
.line {
    fill: none;
    /*stroke-width: 1.5px;*/
}
.legend-box {
    cursor: pointer;
}
#mouse-tracker,
.context .brush {
    stroke: #E6E7E8;
    stroke-width: 1px;
}
rect.handle {
    width: 4px;
    stroke: #888;
}
.hover-line {
    stroke: #E6E7E8;
    fill: none;
    stroke-width: 1px;
    left: 10px;
    shape-rendering: crispEdges;
    /*opacity: 1e-6;*/
}
.hover-text {
    stroke: none;
    font-size: 12px;
    font-weight: bold;
    color: #222;
    fill: #222;
}
.tooltip {
    font-weight: normal;
}
.brush .extent {
    stroke: #FFF;
    shape-rendering: crispEdges;
}
.hidden {
    display: none;
}
.ok {
    fill: #00a65a;
}
.tol {
    fill: #f39c12;
}
line.horizontalGrid {
    fill: none;
    shape-rendering: crispEdges;
    /*stroke: #bbb;*/
    stroke-width: 1px;
}
