/*QA Status Spans                                 */
.no_tol, .not_done {
    background-color:#00c0ef;
}
.ok {
    background-color:#00a65a;
}
.action {
    background-color:#dd4b39;
}
.tolerance {
    background-color: #f39c12;
}

.label-group > .label,
.label-group > .badge {
	border-radius: 0;
    margin: 0;
}
.label-group > .label:first-child,
.label-group > .badge:first-child {
	border-top-left-radius: 0.25em;
    border-bottom-left-radius: 0.25em;
}
.label-group > .label:last-child,
.label-group > .badge:last-child{
	border-top-right-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
}
#contacts dt{
    width:inherit;
    *width:250px;
}
#contacts dd{
    margin-left:0;
    /*width:150px;*/
}