<span class="label due-status {{unit_test_collection.due_status}}" data-timestamp="{{unit_test_collection.due_date|date:"U"}}">
    {% with unit_test_collection.due_status as status %}
        {% if status == 'ok' %}
            <i class="icon-ok-sign"></i>
        {% elif status == 'tolerance' %}
            <i class="icon-warning-sign"></i>
        {% elif status == 'action' %}
            <i class="icon-minus-sign"></i>
        {% endif %}
    {% endwith %}
    {% with unit_test_collection.due_date as due_date %}
        {% if due_date %}
            {{due_date|date:"DATE_FORMAT"}}
        {%else%}
            Not Due
        {%endif%}
    {% endwith %}
</span>
