{% extends "site_base.html" %}

{% block require_javascript %}
{% endblock require_javascript %}

{% block head_title %}Choose Frequency for Review{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                    <h3 class="box-title">Review QA By Frequency</h3>
                    <p>Choose a frequency below to review test lists.</p>
                </div>
                <div class="box-body pad">
                    <div class="btn-group btn-default btn-flat">
                        {% for freq in frequencies %}
                            <a class="btn btn-default btn-flat" href="{% url 'review_by_frequency' frequency=freq.slug %}">{{freq.name}}</a>
                        {% endfor %}
                        <a class="btn btn-default btn-flat" href="{% url 'review_by_frequency' frequency="ad-hoc" %}">Ad hoc</a></button>
                    </div>
                </div>
                <div class="box-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}

