{% extends "site_base.html" %}
{% load staticfiles %}

{% block head_title %}Choose Frequency for Review{% endblock %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>Review QA By Frequency</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        <em>Choose a frequency below to review test lists</em>
    </div>
</div>
<div class="row-fluid row-spacer">
    <div class="span12">
        <ul>
            {% for freq in frequencies %}
                <li>
                    <a href="{% url review_by_frequency frequency=freq.slug %}">{{freq.name}}</a>
                </li>
            {% endfor %}
        </ul>

    </div>
</div>

{% endblock %}

