{% load qa_tags %}
{% for hist in history %}

    {% if test.is_upload %}
    <span class="history-value">
                {{hist.value|safe}}
        </span>
    {% elif hist.work_completed and hist.pass_fail != "not_done" %}

        <span class="label {{hist.pass_fail}} history-value" title="Diff from ref={% if hist.diff %}{{hist.diff}}{%else%}N/A{%endif%};  {{hist.created_by}} on {{hist.work_completed}}; {{hist.status}}">
                {{hist.value|safe}}
        </span>
    {% else %}
        <span class="label history-value" title="N/A">N/A</span>
    {% endif %}
{% endfor %}
