{% if instance %}
    {% for status,display,tests in instance.pass_fail_status %}
        {% if tests and status not in exclude%}
        <span class="{%if show_label%}label{%else%}badge{%endif%} {{status}}" title="{{tests|length}} {{display}}">
            {% if show_icons %}
                {% if status == 'tolerance' %}
                    <i class="icon-warning-sign"></i>
                {% elif status == 'action' %}
                    <i class="icon-minus-sign"></i>
                {% endif %}
            {% endif %}
            {{tests|length}}{%if show_label%} {{display}}{%endif%}
        </span>
        {% endif %}
    {% endfor %}
{% else %}
    <em>New List</em>
{% endif %}
