<table class="data-table table table-striped table-bordered table-condensed">
    <thead>
        <tr>
            {% for header in headers %}
                <th class="header" colspan="3">{{header}}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for header in headers %}
                <th>Date</th>
                <th>Value</th>
                <th>Ref</th>
            {% endfor %}
        </tr>

    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                {% for da,val,ref in row %}
                    <td>{{da}}</td>
                    <td class="number">{{val}}</td>
                    <td class="number">{{ref}}</td>
                {% endfor  %}
            </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <tr>

            {% for header in headers %}
            <th>Date</th>
            <th>{{header}}</th>
            <th>Ref</th>
            {% endfor %}
        </tr>
    </tfoot>

</table>