{% extends "site_base.html" %}

{% load staticfiles %}
{% load qa_tags %}


{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Overall QA Program Status</h2>
        </div>
    </div>

    <div class="row-fluid" >
        <div class="span12 container form-inline">
			<table class="table table-bordered table-striped table-condensed test-collection-table review-table">

				<thead>
					{% include "review_table_headers.html"%}
					{% include "review_table_headers.html"%}
				</thead>
				<tbody>

				{% for utc in unittestcollections %}

					<tr class="{% cycle 'odd' 'even' %} has-due-date">
						<td>{{utc.unit.name}}</td>
						<td>{{utc.frequency.name}}</td>
						<td><a href="{%url perform_qa utc.pk%}?day=next">{{utc.tests_object.name}}</a></td>

						{% if  utc.last_instance %}
							<td>{{utc.last_instance.work_completed}}</td>
							<td>{{utc|as_due_date}}</td>
							<td class="pass_fail_status">{{utc.last_instance|as_pass_fail_status}}</td>
						{% else %}
							<td>New List</td>
							<td>New List</td>
							<td>New List</td>
						{% endif %}

						{% with utc.requires_review as unreviewed %}
						<td class="review_status">
							<span class="label unreviewed-count-wrapper {% if unreviewed %}label-warning{% else %}label-success{% endif %}">
								<span class="unreviewed-count">{{unreviewed|length}}</span>
								Unreviewed
							</span>
						</td>

						<td class="history">
							<select class="pull-right input-medium instance-id">
								<option value="hide">Hidden</option>
								{% for h in unreviewed %}
									<option data-test_list_id="{{h.test_list.pk}}" value="{{h.pk}}" class="unreviewed">* {{h.work_completed}} *</option>
								{% endfor %}
							</select>
						</td>
						{% endwith %}
				   </tr>
				{% endfor %}
				</tbody>
				<tfoot>
					{% include "review_table_headers.html"%}
				</tfoot>
			</table>
		</div>
	</div>
{% endblock body %}

{% block end_body_extra_script %}
	<script src="{% static "js/jquery.flot.min.js" %}"></script>
	<script src="{% static "js/jquery.flot.resize.js" %}"></script>
	<script src="{% static "js/jquery.flot.fillbetween.js" %}"></script>
	<script src="{% static "js/jquery.sparkline.min.js" %}"></script>
	<script src="{% static "js/qareview.js" %}"></script>
{% endblock end_body_extra_script %}
