{% extends "site_base.html" %}

{% load staticfiles %}
{% load qa_tags %}


{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{page_title}}</h2>
        </div>
    </div>
	{% include "qa/paginator.html" %}
    <div class="row-fluid" >
        <div class="span12 container form-inline">
			<table class="table table-bordered table-striped table-condensed ">

				<thead>
					<tr>
						<th>Action</th>
						<th>Unit</th>
						<th>Frequency</th>
						<th>Test List/Cycle</th>
						<th>Work Completed</th>
						<th>Status</th>

					</tr>
					<tr>
						<th>Action</th>
						<th>Unit</th>
						<th>Frequency</th>
						<th>Test List/Cycle</th>
						<th>Work Completed</th>
						<th>Status</th>

					</tr>
				</thead>
				<tbody>

				{% for instance in test_list_instances %}

					<tr class="{% cycle 'odd' 'even' %} has-due-date">
						<td>
							{% if instance.in_progress %}
								<a class="btn btn-primary btn-mini" title="not implemented yet" href="#" disabled="disabled">Continue QA</a>
							{% else %}
								<a class="btn btn-primary btn-mini" href="{% url review_test_list_instance instance.pk %}">Review</a>
							{% endif %}
						</td>
						<td>{{instance.unit_test_collection.unit.name}}</td>
						<td>{{instance.unit_test_collection.frequency.name}}</td>
						<td><strong>{{instance.test_list.name}}</strong></td>
						<td>
							{% if instance.in_progress %}
								<abbr title="Started {{instance.work_started}} by {{instance.created_by}}"><em>In Progress {{instance.work_started}}</em></abbr>
							{% else %}
								{{instance.work_completed}}
							{% endif %}
						</td>
						<td class="pass_fail_status">{{instance|as_pass_fail_status}}</td>

				   </tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th>Action</th>
						<th>Unit</th>
						<th>Frequency</th>
						<th>Test List/Cycle</th>
						<th>Work Completed</th>
						<th>Status</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>

{% endblock body %}

{% block end_body_extra_script %}
	<script>
		$(document).ready(function(){
			$(".table").dataTable( {
				"sDom": "t<'row-fluid'<'span3'><'span3' l><'span6'p>>",
				"bStateSave":false, //save filter/sort state between page loads
				"bFilter":true,
				"bPaginate": false,

				aoColumns: [
					null, //Unit
					null, //Freq
					null,  // Test list name
					{"sType":"day-month-year-sort"}, //date completed
					null, //status of test list tests,
					null //review link
				]

			}).columnFilter({
				sPlaceHolder: "head:after",
				aoColumns: [
					{type: "select"}, //Unit
					{type: "select"}, //Freq
					{type: "text" }, // Test list name
					{type: "text" }, //date completed
					null, //status of test list tests
					null //review link
				]
			});
		});
	</script>
{% endblock end_body_extra_script %}
