{% load qa_tags %}
{% if perms.qa.can_review %}
<a class="btn btn-primary btn-mini" href="{% url review_test_list_instance instance.pk %}?next={{request.path}}">Review</a>
{% endif %}
{% if instance.in_progress %}
    <a class="btn btn-primary btn-mini" title="Continue this list" href="{%url edit_tli pk=instance.pk%}?next={{request.path}}" >Continue</a>
{% else %}
    <a class="btn btn-primary btn-mini" title="Edit this list" href="{%url edit_tli pk=instance.pk%}?next={{request.path}}" >Edit</a>
{% endif %}
