{% extends "site_base.html" %}

{% load staticfiles %}
{% load qa_tags %}

{% block head_title %}{{page_title}}{% endblock %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>{{page_title}}</h2>
        </div>
    </div>

    <div class="row-fluid" >
        <div class="span12 container form-inline">
			<input type="hidden" id="total_records" value="{{iTotalRecords}}"/>
			<input type="hidden" id="filtered_records" value="{{iTotalDisplayRecords}}"/>

            <table id="testlistinstance-table" class="table table-bordered table-striped table-condensed test-list-instance-table">

                <thead>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Progress</th>
                        <th>Pass/Fail Status</th>
                    </tr>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Progress</th>
                        <th>Pass/Fail Status</th>
                    </tr>
                </thead>
                <tbody>
					{% for row in data %}
						<tr>
							{% for col in row %}
								<td>{{col}}</td>
							{% endfor %}
						</tr>
					{% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Actions</th>
                        <th class="unit">Unit</th>
                        <th class="frequency">Frequency</th>
                        <th>Test List/Cycle<div></div></th>
                        <th>Date</th>
                        <th>User</th>
                        <th>Review Status</th>
                        <th>Status</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

{% endblock body %}

{% block end_body_extra_script %}
    <script src="{% static "js/testlistinstance.js" %}?v={{VERSION}}"></script>
{% endblock end_body_extra_script %}
