{% extends "site_base.html" %}
{% load qa_tags %}
{% block page_style %}
<style type="text/css" >
    body { padding-top:10px;}
    table { page-break-inside:auto }
    tr    { page-break-inside:avoid; page-break-after:auto }
    thead { display:table-header-group }
    tfoot { display:table-footer-group }
    .test-list-form-container {width:670px; page-break-after: always; font-size:0.9em;}
    th.test-name {width:230px;}
    th.test-value {width:85px;}
    .table-condensed td {padding-top:1px; padding-bottom:1px;}
    th.test-ref {width:85px;}
    th.test-tol {width:245px;}
    div.comment { height: 50px;}
    h3 {padding-bottom:10px;}
    hr {margin-bottom:5px};
</style>
<style type="text/css" media="print">
    .no-print { visibility: none;}
</style>
{% endblock %}
{% block topbar_base %}{% endblock %}
{% block body %}

<div class="no-print">
    <h2>Paper based backup forms for QA</h2>
    <p>
    To print, hit Ctrl-P or use the browser menus.
    </p>

    <p>
        Note, tests that require macro calculations or files to be uploaded are not included in paper based forms.
    </p>


</div>
{% for utc in object_list %}
    {% for test_list in utc.all_lists %}

        <div class="test-list-form-container">
            <hr class="no-print"/>
            <h3>{{utc.unit.name}} :: {{test_list.name}}</h3>
            <div class="form form-inline">
                <label><strong>Name: </strong> <input type="text"/></label>
                <label class="pull-right"><strong>Date: </strong> <input type="text"/></label>
            </div>
            <div class="comment" >
                <label><strong>Comments:</strong></label>
            </div>
            <table class="table table-bordered table-condensed">
                <thead>
                    <tr>
                        <th class="test-name">Test</th>
                        <th class="test-value">Value</th>
                        {% if include_refs %}
                        <th class="test-ref">Reference</th>
                        <th class="test-tol">Tolerance</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for uti in test_list.utis %}
                    <tr>
                        <td><strong>{{uti.test.name}}</strong></td>
                        <td>
                            {% if uti.test.is_boolean %}
                                <span class="pull-left"> <label class="checkbox"><input type="checkbox"/> No</label></span>
                                <span class="pull-right"> <label class="checkbox"><input type="checkbox"/> Yes</label></span>
                            {% elif uti.test.is_mult_choice %}
                                {% for choice in uti.test.get_choices %}
                                <label class="checkbox"><input type="checkbox"/>{{choice.1}}</label>
                                {% endfor %}
                            {% endif %}
                        </td>

                        {% if include_refs %}
                        <td>
                            {% if uti.reference %}
                            {{uti.reference.value_display}}
                            {% endif %}
                        </td>
                        <td>
                            {% tolerance_for_reference uti.tolerance uti.reference %}
                        </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}
