[run]
omit =
    *migrations*
    qatrack/wsgi.py
    qatrack/middleware/profiler.py
source =
    qatrack.accounts
    qatrack.attachments
    qatrack.contacts
    qatrack.notifications
    qatrack.parts
    qatrack.qa
    qatrack.qatrack_core
    qatrack.service_log
    qatrack.units

[html]
directory = cover
