# Ignore everything that starts with a dot: .env, .git, etc.
.*

__pycache__
env/
venv/
ENV/
db.sqlite3
qatrackplus31
qatrack/local_settings.py
fixtures/
docs/
logs/

# Everything under deploy with exceptions
deploy/*
!deploy/docker/
deploy/docker/.env

# media and static files
qatrack/media/
qatrack/static/
