[flake8]
max-line-length = 120
exclude =
    .git,
    fixtures,
    migration_data,
    migrations,
    south_migrations,
    node_modules,
    media,
    static,
    deploy
    local_settings.py
    *tmp*

ignore =
    # ignore complexity checks
    C901
    # ignore visual indent with same indent as next logical line
    E129, E125
    # Allow binary operators to start rather than end lines
    W503
    # Allow line break after binary operator
    W504
