.installed.cfg
bin
develop-eggs
build
dist
db/*
downloads
eggs
src/*.egg-info
lib
lib64
mail/*
*~
*.debug
*.log
.coverage
*.pot
*.pyc
local_settings.py
local_test_settings.py
fixtures/dev
questions_*
qatrack/wsgi.py
qatrack/static
qatrack/assets
qatrack/cache/cache_data
qatrack/media/uploads
qatrack/qa/static/css/site.css
ldap.debug
*.pyproj
*.suo
.idea/
deployLocal.py
*.db
coverage.xml
.noseids
logs/
qatrack/accel_migration_tool/db/
qatrack/accel_migration_tool/local_accel_settings.py
cover/
deploy/docker/backup_management/*/*.zip
deploy/docker/secret_key.txt
deploy/docker/postgres-data