# Virtual Environments
env/
.venv/
venv/
src/

# Local Settings, administrator controlled
    # developers may have multiple local settings files, but they should not be committed to the repo 
qatrack/local_*.py 
logs/
db/
tmp/
deploy/docker/user-data
deployLocal.py

# Local resources
/qatrack*.conf
qatrack/accel_migration_tool/db/
qatrack/accel_migration_tool/local_accel_settings.py
qatrack/assets
qatrack/cache/cache_data
qatrack/media/uploads
qatrack/media/reports
qatrack/qa/static/css/site.css
qatrack/qatrack_core/static/qatrack_core/css/site.css
qatrack/static
qatrack/wsgi.py
/backup.sh
/backups
/QATrack*ServiceLocal.py
/cherrypy_deploy.py
/cherrypy_deploy.py

    # will be generated at release time 
uv.lock 

# Local Temp files
.ai
.eggs
*.egg-info
*.db
*.debug
*.log
*.pot
*.pyc
*.pyproj
*.suo
*~
.cache
.coverage
.idea/
.installed.cfg
.noseids
.pytest_cache
.ruff_cache
.vscode
dist
docs/_build
bin
build
cover/
coverage.xml
develop-eggs
downloads
eggs
emails/
fixtures/dev
ldap.debug
/lib
lib64
mail/*
questions_*
src/*.egg-info
tmp/
./generate_ro_privileges.sql

