{% load i18n %}
<div class="module">
  <table id="change-history">
    <thead>
      <tr>
        <th scope="col">{% trans "Date/time" %}</th>
        <th scope="col">{% trans "User" %}</th>
        <th scope="col">{% trans "Reference" %}</th>
        <th scope="col">{% trans "Tolerance" %}</th>
        <th scope="col">{% trans "Comment" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for current, change in history %}
        <tr>
          <th scope="row">{{ change.changed }}</th>
          <td>{{ change.changed_by }}</td>
          <td>
              {{ current.reference }}
          </td>
          <td>
            {% if change.tolerance_changed %}
              {{ current.tolerance }} → {{ change.tolerance }}
            {% else %}
              {{ current.tolerance }}
            {% endif %}
          </td>
          <td>{{ change.comment }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
