# This is an example file, copy to ".env" and uncomment and/or change the
# values you need.
#
# The values in this example file represent in general the default value if
# the variable is not specified.
#
# Uncomment variables and change their value to customize.
#
# Note that some variables shoudl be written as JSON. These variables are annotated
# with: `# JSON`. Ideally, use the compose.yaml or the compose.override.yaml
# files to define multiline values for these. Or, you can define single line
# values here in `.env`.

# QATDEV
# Set to `1` to bind QATrack's source code on your host inside the container
# for local development. Unset the variable or set it to any other value for
# production.
#
# | QATDEV value    | compose.override.yaml used? |
# | --------------- | --------------------------- |
# | unset           | No                          |
# | `0`             | No                          |
# | empty string    | No                          |
# | `1`             | Yes                         |
# | any other value | No                          |
QATDEV=1


# Docker build settings ########################################################
# Use these to override the base docker images used for building the QATrack image.
# BUILDER_BASE_IMAGE=ghcr.io/astral-sh/uv:0.12-python3.12-trixie-slim
# RUNTIME_BASE_IMAGE=python:3.12-slim-trixie
#
# Set these if you need to specify user ID and group ID on Linux so that
# the docker services can write to bind mounts. Then rebuild the images.
# ** Important: use just compose build to build the images. **
# For local development, UID and GID will default to your user's current values.
# HOST_UID=999
# HOST_GID=999


# Docker bind mounts ######################################################
# Set paths for these variables to enable bind mounts for media, backups and
# user-data.
#
# Make sure they are read-writable by the user running in the docker containers.
# On Linux, in production, the docker user has UID=999 and GID=999 by default.
# You can override these by setting HOST_UID, HOST_GID above.
#
# In development, the UID and GID default to your user's values when you build
# the image with `just compose build`.
#
# Media directory where uploads are stored
# MEDIA_DIR is mapped to /app_data/media in the django and django-q containers.
# MEDIA_DIR=
#
# Backups directory where the backup files will be stored
# BACKUPS_DIR is mapped to /backups in the backup container.
# BACKUPS_DIR=
#
# User data dir used for storing secret_key.txt
# USER_DATA_DIR is mapped to /user-data in the django container.
#
# user-data is only used for persisting the secret key if you do not
# provide a value for the SECRET_KEY env variable. If you set a value for
# SECRET_KEY in .env, you do not need a bind mount for user-data.
#
# USER_DATA_DIR=



# PostgreSQL settings ############################################################
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=qatrackplus


# NGINX settings ###############################################################
# NGINX_SERVER_NAME = localhost
# NGINX_CLIENT_MAX_BODY_SIZE = 100m
#
# **Note**: if you set QATrack's HTTP_OR_HTTPS setting to 'https', you will need
# to provide values for the following SSL variables.
# 
# Set a path where certificate file and certificate key file are located
# that will get bind mounted in the nginx container
# SSL_DIR=./user-data/ssl
#
# Set the file name for SSL certificate file
# NGINX_SSL_CERTIFICATE_FILE=
#
# Set the file name for SSL certificate key file
# NGINX_SSL_CERTIFICATE_KEY_FILE= 


# Django/QATrack settings ######################################################

# Set these variables to create an initial superuser automatically
# DJANGO_SUPERUSER_USERNAME=admin
# DJANGO_SUPERUSER_PASSWORD=
# DJANGO_SUPERUSER_EMAIL=

# ALLOWED_HOSTS
# Add the hostname or IP address you will use to access QATrack+ here.
# For example: ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_HOSTS=*

SECRET_KEY=change_me

# ADMINS='[["Admin Name", "YOUR_EMAIL_ADDRESS_GOES_HERE"]]'
# SEND_BROKEN_LINK_EMAILS=false
# SITE_NAME='QATrack+'
# TIME_ZONE='America/Toronto'
# USE_TZ=true
# USE_I18N=true
# LANGUAGE_CODE=en
# USE_SQL_REPORTS=false

# DEFAULT_WARNING_MESSAGE='Do not treat'
# ICON_SETTINGS ='{"SHOW_DUE_ICONS": true, ...}'  # JSON
# NHIST=5
# PING_INTERVAL_S=5
# CATEGORY_FIRST_OF_GROUP_ONLY=false
# CHOOSE_UNIT_CATEGORY_DROPDOWN=false
# ORDER_UNITS_BY=number
# REVIEW_DIFF_COL=false
# REVIEW_BULK=true
# TEST_STATUS_DISPLAY='{"no_tol": "No Tol Set", ...}'  # JSON
# TEST_STATUS_DISPLAY_SHORT='{"no_tol": "NO TOL", ...}'  # JSON

# DEFAULT_AVAILABLE_HOURS_SUNDAY=0
# DEFAULT_AVAILABLE_HOURS_MONDAY=8
# DEFAULT_AVAILABLE_HOURS_TUESDAY=8
# DEFAULT_AVAILABLE_HOURS_WEDNESDAY=8
# DEFAULT_AVAILABLE_HOURS_THURSDAY=8
# DEFAULT_AVAILABLE_HOURS_FRIDAY=8
# DEFAULT_AVAILABLE_HOURS_SATURDAY=0

# SESSION_COOKIE_AGE=1036800  # 14 days in seconds
# SESSION_SAVE_EVERY_REQUEST=true
# SESSION_EXPIRE_AT_BROWSER_CLOSE=false
# CSRF_COOKIE_NAME=csrftoken
# USE_X_FORWARDED_HOST=false
# HTTP_OR_HTTPS=http  # if set to https, **rebuild nginx image to enable SSL**

# CSRF_TRUSTED_ORIGINS
# Required for Django 4.0+ or logins/forms behind a reverse proxy will fail
# with "CSRF verification failed". Must include the scheme (http/https).
# If left unset, it's derived from ALLOWED_HOSTS above (both schemes, "*" skipped).
# For example: CSRF_TRUSTED_ORIGINS=https://my-server,http://my-server
# CSRF_TRUSTED_ORIGINS=(default based on ALLOWED_HOSTS)

# SESSION_COOKIE_SECURE=(default based on HTTP_OR_HTTPS)
# CSRF_COOKIE_SECURE=(default based on HTTP_OR_HTTPS)

# EMAIL_NOTIFICATION_TEMPLATE='notification_email.html'

# Use either a static subject or a customizable template
# EMAIL_NOTIFICATION_SUBJECT='QATrack+ Test Status Notification'
# EMAIL_NOTIFICATION_SUBJECT_TEMPLATE='notification_email_subject.txt'

# EMAIL_NOTIFICATION_SENDER=notifications@qatrackplus.com
# EMAIL_FAIL_SILENTLY=true
# EMAIL_HOST=''
# EMAIL_HOST_USER=''
# EMAIL_HOST_PASSWORD='your_password_here'
# EMAIL_USE_TLS=true
# EMAIL_PORT=587

# DEBUG=false
# DEBUG_TOOLBAR=false

# AUTHENTICATION_BACKENDS=qatrack.accounts.backends.QATrackAccountBackend
# ACCOUNTS_SELF_REGISTER=false
# ACCOUNTS_PASSWORD_RESET=true

# AD_DNS_NAME=''
# AD_LDAP_PORT=389 # or 636 for ldaps
# AD_LDAP_PROTOCOL=ldap  # ldap or ldaps

# AD_LDAP_USER=''
# AD_LDAP_PW=''

# AD_LU_ACCOUNT_NAME=sAMAccountName
# AD_LU_MAIL=mail
# AD_LU_SURNAME=sn
# AD_LU_GIVEN_NAME=givenName
# AD_LU_MEMBER_OF=memberOf

# AD_SEARCH_FIELDS=mail,sn,givenName,sAMAccountName,memberOf

# AD_SEARCH_DN=''
# AD_NT4_DOMAIN=''

# AD_CERT_FILE=''
# CLEAN_USERNAME_STRING=''
# AD_CLEAN_USERNAME_STRING=''
# AD_USERNAME_CLEANING=(unset)  # valid values: 'none', 'lower', 'strip_domain', 'lower_strip_domain', 'strip_upn', 'lower_strip_upn'

# AUTH_ADFS= '{"SERVER": "some.adfs.server.com", ...}'  # JSON