USE_DOCKER=true

# Set to any value to bind QATrack's source code on your host inside the container.
# For local development. Unset the variable completely for production.
# If the variable exists and is empty, development mode will be used.
QATDEV=1


# postgres settings ############################################################
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=qatrackplus

# Django/QATrack settings ######################################################

# Add the hostname or IP address you will use to access QATrack+ here.
# For example: ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_HOSTS=*

SECRET_KEY=change_me

# Required for Django 4.0+ or logins/forms behind a reverse proxy will fail
# with "CSRF verification failed". Must include the scheme (http/https).
# If left unset, it's derived from ALLOWED_HOSTS above (both schemes, "*" skipped).
# For example: CSRF_TRUSTED_ORIGINS=https://my-server,http://my-server
# CSRF_TRUSTED_ORIGINS=

# nginx settings ###############################################################
# NGINX_SERVER_NAME = localhost
# NGINX_CLIENT_MAX_BODY_SIZE = 100m