POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=qatrackplus
USE_DOCKER=true

# Add the hostname or IP address you will use to access QATrack+ here.
# For example: ALLOWED_HOSTS=localhost,127.0.0.1
ALLOWED_HOSTS=*
