0 */6 * * * /bin/bash -c 'echo "import sys; sys.path.append(\"/usr/src/app/deploy/docker\"); import docker_functions; docker_functions.run_backup()" | python /usr/src/app/manage.py shell'
# Need an empty line

