{% extends "service_log/sl_base.html" %}

{% load widget_tweaks %}
{% load qa_tags %}
{% load i18n %}

{% block head_title %}{% trans "Supplier" %}: {{ supplier.name }}{% endblock %}

{% block body %}

<form action="" method="post" novalidate>
  {% csrf_token %}
  <div class="max-width-lg">
    <div class="row">
      <div class="col-md-3">
        <h3 class="no-margin-top">{% trans "Supplier Details" %}: {{ supplier.name }}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header"></div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-6">

                <dl class="dl-horizontal">

                  <dt>{% trans "Name" %}:</dt>
                  <dd>{{ supplier.name }}</dd>

                  <dt>{% trans "Website" %}:</dt>
                  <dd>
                    {% if supplier.website %}
                      <a href="{{ supplier.website }}" title="{% trans "Click to visit this suppliers website" %}">
                        {{ supplier.website }}
                      </a>
                    {% else %}
                      <em>N/A</em>
                    {% endif %}
                  </dd>

                  <dt>{% trans "Phone Number" %}:</dt>
                  <dd>{% firstof supplier.phone_number "<em>N/A</em>" %}</dd>

                  <dt>{% trans "Address" %}:</dt>
                  <dd>{{ supplier.address }}</dd>
                </dl>
              </div>
              <div class="col-sm-6">
                <h4>{% trans "Contacts" %}</h4>
                {% for contact in supplier.contact_set.all %}
                  <dl class="dl-horizontal">

                    <dt>{% trans "First Name" %}:</dt>
                    <dd>{{ contact.first_name }}</dd>

                    <dt>{% trans "Last Name" %}:</dt>
                    <dd>{{ contact.last_name }}</dd>

                    <dt>{% trans "Email" %}:</dt>
                    <dd>
                      {% if contact.email %}
                        <a href="mailto:{{ contact.email }}"
                          title="{% trans "Click to email this contact" %}"
                        >
                          {{ contact.email }}
                        </a>
                      {% else %}
                        <em>N/A</em>
                      {% endif %}
                    </dd>

                    <dt>{% trans "Phone" %}:</dt>
                    <dd>{% firstof contact.phone_number "<em>N/A</em>" %}</dd>

                    {% if user.is_staff and perms.parts.change_contact %}
                      <dt></dt>
                      <dd>
                        <a
                          href="{% url 'admin:parts_supplier_change' object_id=supplier.id %}"
                          title="{% trans "Click to edit this contacts details" %}"
                          class="btn btn-flat btn-default btn-xs"
                        >
                          {% trans "Edit" %}
                        </a>
                      </dd>
                    {% endif %}
                  </dl>
                {% endfor %}
              </div>
            </div>
            <div class="row display-flex">
              <div class="col-md-6">
                {% if supplier.notes %}{% spaceless %}
                  <dl class="height-100 margin-0">
                    <dt>{% trans "Notes" %}:</dt>
                    <dd class="text-display pre height-100-40">{{ supplier.notes }}</dd>
                  </dl>{% endspaceless %}
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      {% with supplier.partsuppliercollection_set.all as psc_set %}
        <div class="col-md-12">
          {% if psc_set|length > 0 %}
            <div class="box">
              <div class="box-header">
                <h4 class="box-title">{% trans "Parts" %}</h4>
              </div>

              <div class="box-body">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>{% trans "Part Name" %}</th>
                      <th>{% trans "Part Number" %}</th>
                      <th>{% trans "Supplier Specific Part #" %}</th>
                    </tr>
                  </thead>
                    <tbody>
                      {% for psc in psc_set %}
                        <tr>
                          <td class="min-width-200">
                            <a
                              href="{{ psc.part.get_absolute_url }}"
                              title="{% trans "Click to view part details" %}"
                            >
                              {{ psc.part.name }}
                            </a>
                          </td>
                          <td class="min-width-200">{{ psc.part.part_number }}</td>
                          <td>{% if psc.part_number %}{{ psc.part_number }}{% else %}<em>N/A</em>{% endif %}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot></tfoot>
                </table>
              </div>
            </div>
          {% endif %}

        </div>
      {% endwith %}
      {% with part.partstoragecollection_set.all as psc_set %}
        <div class="col-md-7">
          {% if psc_set|length > 0 %}
            <div class="box">
              <div class="box-header">
                <h4 class="box-title">{% trans "Storage" %}</h4>
              </div>

              <div class="box-body">
                <table class="table table-condensed table-hover">
                  <thead>
                    <tr>
                      <th>{% trans "Room" %}</th>
                      <th>{% trans "Location" %}</th>
                      <th class="max-width-75">{% trans "Quantity" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for psc in psc_set %}
                      <tr title="{{ psc.storage.description }}">
                        <td class="min-width-150 room-td">{{ psc.storage.room }}</td>
                        <td class="min-width-100">{{ psc.storage.location }}</td>
                        <td class="max-width-75">{{ psc.quantity }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
                  <tfoot></tfoot>
                </table>
              </div>

            </div>
          {% endif %}

        </div>
      {% endwith %}
    </div>

    <div class="row">
      <div class="col-md-12">
        {% if user.is_staff and perms.parts.change_supplier %}
          <a
            href="{% url 'admin:parts_supplier_change' object_id=supplier.id %}"
            title="{% trans "Click to edit this supplier details" %}"
            class="btn btn-flat btn-default pull-right"
          >
            {% trans "Edit" %}
          </a>
        {% endif %}
      </div>
    </div>
  </div>

</form>
{% endblock body %}
