{% load qa_tags %}
<div style="min-width: 85px;">
    {% if perms.parts.change_part %}
        <a class="btn btn-default btn-xs btn-flat"
          href="{% url 'part_edit' p.pk %}{% if next %}?next={{ next }}{% endif %}"
          title="Edit details of {{ p.name }}"
        >Edit</a>
    {% endif %}
    {% if perms.parts.view_part %}
        <a class="btn btn-default btn-xs btn-flat"
          href="{% url 'part_details' p.pk %}{% if next %}?next={{ next }}{% endif %}"
          title="View details of {{ p.name }}"
          >
          Details
        </a>
    {% endif %}
</div>
