{% extends "site_base.html" %}
{% load i18n %}
{% load static %}

{% load qatrack_tags %}
{% load qa_tags %}

{% block head_title %}{% trans "Create Paper Backup Forms" %}{% endblock %}

{% block extra_css %}
  <link href="{% static "felter/css/felter.css" %}?v={{ VERSION }}" rel="stylesheet">
  <link href="{% static "select2/css/select2.min.css" %}?v={{ VERSION }}" rel="stylesheet">
  <link href="{% static "qatrack_core/css/custom-select2.css" %}?v={{ VERSION }}" rel="stylesheet">
{% endblock %}
{% block require_javascript %}
require(['jquery', 'select2', 'felter'], function($){

});
{% endblock require_javascript %}

{% block body %}
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="box">

      <div class="box-header">
        <h3 class="box-title">
          <i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i>
          {% trans "Create Paper Backup Forms" %}
        </h3>
        <p>
          {% blocktrans %}
          Fill out the form below and submit it to generate a set of
          paper based forms that can be used in the event of a server
          failure.  These forms can be saved or printed to pdf and stored
          on a local computer or network drive.
          {% endblocktrans %}
        </p>
      </div>

      <div class="box-body">
        <div class="row">
          <div class="col-sm-12">
            <form method="post" class="form">
              {% csrf_token %}
              {% include '_form_horizontal.html' with form=form %}
              <div class="row">
                <div class="col-sm-12">
                  <button class="btn btn-primary btn-flat pull-right" type="submit">{% trans "Submit" %}</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock body %}
