{% extends "site_base.html" %}

{% load qatrack_tags %}
{% load qa_tags %}

{% block head_title %}Create Paper Backup Forms{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="box box-primary">

                <div class="box-header">
                    <h3 class="box-title"><i class="fa fa-paper-plane-o fa-fw" aria-hidden="true"></i>Create Paper Backup Forms</h3>
                    <p>

                        Fill out the form below and submit it to generate a set of
                        paper based forms that can be used in the event of a server
                        failure.  These forms can be saved or printed to pdf and stored
                        on a local computer or network drive.
                    </p>
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" class="form form-horizontal">
                                {% csrf_token %}
                                {% if form.non_field_errors %}
                                    <div class="alert alert-error">
                                        {% if form_error_title %}
                                            <strong>{{ form_error_title }}</strong>
                                        {% endif %}
                                        {% for error in form.non_field_errors %}
                                            {{ error }}<br />
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {% for field in form %}
                                    {% if field.is_hidden %}
                                        {{ field }}
                                    {% else %}
                                        <div class="{% if field.errors %}has-error{% endif %}">
                                            {{ field }}
                                            {% for error in field.errors %}
                                                <span class="help-block">{{ error }}</span>
                                            {% endfor %}
                                            {% if field.help_text %}
                                                <p class="help-block">{{ field.help_text|safe }}</p>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                                <button class="btn btn-primary btn-flat pull-right" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>


{% endblock body %}
