{% load qa_tags %}
<span
  {% if unit_test_collection.due_date %}title="QC window: {{ unit_test_collection | as_qc_window }}"{% endif %}
  class="label due-status {{unit_test_collection.due_status}}"
  data-timestamp="{{unit_test_collection.due_date|date:"U"}}"
>
    {% with unit_test_collection.due_status as status %}
        {% if show_icons %}
            {% if status == 'tolerance' %}
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
            {% elif status == 'action' %}
                <i class="fa fa-minus-square" aria-hidden="true"></i>
            {% endif %}
        {% endif %}
    {% endwith %}
    {% with unit_test_collection.due_date as due_date %}
        {% if due_date %}
            {{due_date|date:"DATE_FORMAT"}}
        {%else%}
            Not Due
        {%endif%}
    {% endwith %}
</span>
