{% extends "site_base.html" %}
{% load qa_tags %}

{% block body %}
<h2>Perform {{form.instance.unit.name}} {{form.instance.name|title}} QA</h3>

<form class="nosubmit" id="qaform" method="POST" action="">
    {% csrf_token %}

	{# display any form errors up top #}
	{% if form.errors %}
		<div class="alert-message error">

		{% for field,errors in form.errors.items %}
			{% for error in errors %}
			<tr class="error">
			<span class="help-block-inline">{{field}} - {{ error }}</span>
			</tr>
			{% endfor %}
		{% endfor %}
		</div>
	{% endif %}

    {% if tasklistitem_formset.non_form_errors %}
		<div class="alert-message error">
		{% for error in formset.non_form_errors %}

			<tr class="error">
			<span class="help-block-inline">{{ error }}</span>
			</tr>
		{% endfor %}
		</div>
    {% endif %}

	<div>
		Form: {{form}}
	</div>
	{{tasklistitem_formset.management_form}}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Name</th>
				<th>Category</th>
				<th>Value</th>
				<th>Skipped</th>
				<th>Pass/Fail</th>
				<th>Procedure</th>
				<th>Comment</th>
			</tr>
		</thead>
		<tbody>
		{% for item_form in tasklistitem_formset %}
			{{references.forloop.counter}}
			{{item_form|as_qavalue}}
		{% endfor %}
	</table>
	    <div class="actions">
	<button type="submit" class="btn primary">Submit</button>
</form>
{% endblock %}
