{% extends "site_base.html" %}

{% load qa_tags %}
{% load listable %}
{% load i18n %}

{% block head_title %}{{page_title}}{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}datepicker/css/bootstrap-datepicker.min.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}multiselect/css/bootstrap.multiselect.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/tables.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qa/css/qa.css?v={{VERSION}}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
    {% autoescape off %}
        {% listable view_name dom="<'row'<'col-sm-5'i><'col-sm-7'p>><'row'<'col-sm-12'tr>><'row'<'col-sm-5'><'col-sm-7'p>>" requirejs=True pagination_type='bootstrap3' css_table_class='table-hover table-condensed table-custom-listable' css_input_class='btn-flat btn-sm input-sm full-width' auto_width=False %}
    {% endautoescape %}
{% endblock %}

{% block require_javascript %}
  require(['listable'], function(){
    {% if bulk_review %}
      $(".test-selected-toggle").eq(0).hide();
      $(".bulk-status").eq(0).parent().html("Bulk Review");
      $(".bulk-status").eq(0).parent().parent().css("color", "black");
      $(".bulk-review-all").eq(0).hide();

      //(de)select checkboxes for child tests when user clicks on header checkbox
      $("input.test-selected-toggle").on("change", function (e) {
          $(this).closest("table").find("input.test-selected").prop("checked", $(this).is(":checked"));
      });

      $(".bulk-status").on('change', function () {
          var val = $(this).val();
          $(".bulk-status").not($(this)).val(val);
          $("input.test-selected:checked").parents("tr").find("select").val(val);
          return false;
      });
    {% endif %}
  });
{% endblock require_javascript %}

{% block body %}

<div class="row">
  <div class="col-md-12">
    <div class="box">
      <div class="box-header">
        <i class="fa {{ icon }} fa-fw" aria-hidden="true"></i>
        <h3 class="box-title">{{page_title}}</h3>
      </div>
      <div class="box-body pad">
        {{ listable_table }}

        {% if perms.qa.can_review %}
          <div class="row pad"></div>
          <div class="row">
            <div class="col-sm-12">

              <button id="submit-review"
                      type="button"
                      class="btn btn-primary btn-flat pull-right margin-r-5"
                      title="{% trans "Click to update the test instance statuses for all of the selected test list instances" %}"
                      data-toggle="modal"
                      data-target="#bulk-review-modal"

              >
                <i class="fa fa-save"></i>
                {% trans "Update Review Statuses" %}
              </button>
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>

<div id="bulk-review-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">{% trans "Confirm Bulk Review" %}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-12">
            <form class="form">
              <div class="form-group">
                <table id="instance-summary" class="table table-bordered table-striped table-condensed fixed">
                  <thead>
                    <tr>
                      <th>{% trans "Username" %}</th>
                      <th>{% trans "First Name" %}</th>
                      <th>{% trans "Last Name" %}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr></tr>
                  </tbody>
                </table>
              </div>
              <p id="group-add-msg"></p>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
        <button id="confirm-update" type="button" class="btn btn-primary">{% trans "Confirm" %}</button>
      </div>
    </div>
  </div>
</div>

{% endblock body %}

