{% load qa_tags %}
{% if select %}
    <a id="select-{{ instance.pk }}" class="btn btn-default btn-xs btn-flat" onclick="QAURLs.returnYourChoice('{{ f_form }}', {{ instance.pk }})">Select</a>
{% else %}
    {% if perms.qa.can_review %}
        <a class="btn btn-default btn-xs btn-flat" href="{% url 'review_test_list_instance' instance.pk %}?next={{request.path|cut:"data/"}}">Review</a>
    {% elif perms.qa.can_view_completed %}
        <a class="btn btn-default btn-xs btn-flat" href="{% url 'view_test_list_instance' instance.pk %}?next={{request.path|cut:"data/"}}">View</a>
    {% endif %}
    {% if instance.in_progress and perms.qa.add_testlistinstance %}
        <a class="btn btn-default btn-xs btn-flat" title="Continue this list" href="{% url 'continue_tli' pk=instance.pk %}?next={{request.path|cut:"data/"}}" >Continue</a>
    {% elif perms.qa.change_testlistinstance %}
        <a class="btn btn-default btn-xs btn-flat" title="Edit this list" href="{% url 'edit_tli' pk=instance.pk %}?next={{request.path|cut:"data/"}}" >Edit</a>
    {% endif %}
    {% if show_initiate_se and perms.service_log.add_serviceevent %}
        <a class="btn btn-default btn-xs btn-flat" title="Create new service event initiated by this list" href="{% url 'sl_new' %}?ib={{ instance.pk }}&next={{request.path|cut:"data/"}}" >Initiate SE</a>
    {% endif %}
{% endif %}
