{% extends "site_base.html" %}

{% load qa_tags %}
{% load qatrack_tags %}
{% load attach_tags %}
{% load comments %}

{% block head_title %}{% spaceless %}
    {% if test_list_instance %}
        Edit {{test_list_instance.unit_test_collection.unit.name}} : {{test_list_instance.test_list.name}}
    {% else %}
        Perform {{unit_test_collection.unit.name}} : {{test_list.name}}
    {% endif %}
{%endspaceless%}{% endblock %}

{% block extra_css %}

    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/tables.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qa/css/qa.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}icheck/css/blue.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/sidebar.css?v={{VERSION}}" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}flatpickr/css/flatpickr.css?v={{ VERSION }}" rel="stylesheet">

{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript">
        var unit_test_infos = {{unit_test_infos|safe}};
        var editing_tli = {{ test_list_instance.pk|default:"0"}};
        var override_date = false;
        {% if perms.qa.can_override_date %}
            override_date = true;
        {% endif %}
        var status_colours_dict = {{ status_tag_colours|safe }};
        var se_statuses = {{ se_statuses|safe }};
        var unit_id = {{ unit_test_collection.unit.id }};
        {% if test_list_instance.work_completed %}
            var work_completed_initial = "{{ test_list_instance.work_completed|safe }}";
        {% else %}
            var work_completed_initial = null;
        {% endif %}
    </script>

    <script id="attach-template" type="text/template">
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-6">
                    <a target="_blank" href="<%= a.url %>">
                        <img class="img-responsive" src="<%= a.url %>" alt="<%= a.name %>"/>
                    </a>
                </div>
                <div class="col-sm-6">
                    <dl>
                        <dt>File</dt>
                        <dd>
                            <a target="_blank" href="<%= a.url %>"><%= a.name %></a>
                        </dd>

                        <dt>Size</dt>
                        <dd><%= a.size %></dd>
                    </dl>
                </div>
            </div>
        </div>
    </script>
{% endblock %}

{% block require_javascript %}
    require(['qa'], function() {
        {{ test_list.javascript.strip|safe }}
        $('body').removeClass("loading");
    });
{% endblock require_javascript %}

{% block body_class %}sidebar-mini sidebar-collapse loading{% endblock body_class %}

{% block sidebar_toggle %}
    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
{#        <span class="sr-only">Toggle navigation</span>#}
        <i id="toggle-icon" class="fa fa-chevron-left fa-lg" aria-hidden="true"></i>
    </a>
{% endblock sidebar_toggle %}

{% block body %}

    <form class="nosubmit form-inline" id="qa-form" method="POST" action="" autocomplete="off" enctype="multipart/form-data" >
        {% csrf_token %}
        {{ form.errors }}
        <div id="box-contacts" class="row" style="display: none;">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                            Contacts
                        </h3>
                    </div>
                    <div class="box-body">
                        <table class="table table-hover table-condensed">
                            <thead>
                                <tr>
                                    <th>Contact</th>
                                    <th>Number or Email</th>
                                    <th>Contact Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for contact in contacts %}
                                    <tr>
                                        <td>{{contact.name}}</td>
                                        <td>{{contact.number}}</td>
                                        <td>{{contact.description}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                            <tfoot></tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% if test_list.description or unit_test_collection.tests_object.description %}
            <div id="box-description" class="row" style="display: none;">
                <div class="col-sm-12">
                    <div class="box">
                        <div class="box-header">
                            <h3 class="box-title">
                                <span class="fa fa-stack fa-fw" aria-hidden="true">
                                    <i class="fa fa-file-text-o fa-stack-custom-main"></i>
                                    <i class="fa fa-info fa-stack-custom-sub info"></i>
                                </span>
                                Description
                            </h3>
                        </div>
                        <div class="box-body">
                            {% spaceless %}
                                <div class="col-sm-12 pre left-border border-default">
                                    {% if days and unit_test_collection.tests_object.description %}
                                        {% for day, display in days %}
                                            {% if day == current_day %}
                                                    <h5><b>Cycle Description: </b></h5>
                                                    <div>{{unit_test_collection.tests_object.description|safe}}</div>
                                                </div>
                                                <div class="col-sm-12 pre left-border border-default">
                                                    <h5><b>Test List Description - {{ display }}: </b></h5>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                    <div>{{test_list.description.strip|safe}}</div>
                                </div>
                            {% endspaceless %}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row" style="">
            {% if perms.qa.can_review and perms.qa.can_review_own_tests or perms.qa.can_override_date %}
            <div class="col-sm-8">
                <div id="box-admin" class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-wrench" aria-hidden="true"></i>
                            Admin Options
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-sm-6 left-border border-default">
                                <div class="date input-prepend input-append row" id="work-started" data-date="{% now 'd-m-Y'%}" data-date-format="dd-mm-yyyy">
                                    {% spaceless %}
                                        <label for="id_work_started" class="col-lg-6">
                                            {{form.work_started.label}}:
                                        </label>
                                        <div class="col-lg-6">
                                            {{form.work_started}}
{#                                            <div id="clear-work_started" class="btn btn-flat btn-xs datetime-clear">X</div>#}
                                            <i id="clear-work_started" class="fa fa-times fa-in-input datetime-clear"></i>
{#                                            <i class="fa fa-calendar fa-in-input"></i>#}
                                        </div>
                                    {% endspaceless %}
                                </div>

                                {% if perms.qa.can_override_date %}
                                    <div class="date input-prepend input-append row" id="work-time">
                                        <label for="id_work_duration" class="col-lg-6">
                                            Work duration:
                                        </label>
                                        <div class="col-lg-6">
                                            <input id="id_work_duration" name="work_duration" class="form-control">
                                            <i class="fa fa-clock-o fa-in-input"></i>
                                        </div>
                                    </div>

                                    <div class="date input-prepend input-append row" id="work-completed" data-date="{% now 'd-m-Y'%}" data-date-format="dd-mm-yyyy">
                                        <label for="id_work_completed" class="col-lg-6">
                                            {{form.work_completed.label}}:
                                        </label>
                                        <div class="col-lg-6">
                                            {{form.work_completed}}
{#                                            <i class="fa fa-calendar fa-in-input"></i>#}
                                            <i id="clear-work_completed" class="fa fa-times fa-in-input datetime-clear"></i>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>

                            <div class="col-sm-6 left-border border-default">
                                {% if perms.qa.can_review and perms.qa.can_review_own_tests %}
                                    <div class="input-prepend input-append row" id="status">
                                        <label for="id_status" class="col-lg-6">
                                            Set Status:
                                        </label>
                                        <div class="col-lg-6">
                                            {{ form.status }}
                                        </div>
                                    </div>
                                {% endif %}
                                <div class="input-prepend input-append row" id="status">
                                    <label for="id_status" class="col-lg-6">
                                        RTS for Service Event:
                                    </label>
                                    <div class="col-lg-6">
                                        {{ form.service_events }}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if attachments|length > 0 %}
                <div id="box-attachments" class="col-sm-4">
                    <div class="box">
                        <div class="box-header">
                            <h5 class="box-title">
                                <i class="fa fa-paperclip" aria-hidden="true"></i>
                                {{ test_list.name }} Test List Attachments
                            </h5>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-sm-12 border-default">
                                    <ul>
                                        {% for attach in attachments %}
                                            <li>{{ attach|attachment_link }}</li>
                                        {% endfor %}
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>


        <div id="box-perform" class="row">
            <div class="col-sm-12">
                <div class="box box-pho-borders">

                    <div class="box-header">
                        <div class="row">
                            <div class="col-sm-6">
                                {% if test_list_instance %}
                                    <i class="fa fa-pencil-square-o box-title" aria-hidden="true"></i>
                                    <h3 class="box-title">Edit {{test_list_instance.unit_test_collection.unit.name}} : {{test_list_instance.test_list.name}}</h3>
                                {% else %}
                                    <i class="fa fa-pencil-square-o box-title" aria-hidden="true"></i>
                                    <h3 class="box-title">Perform {{unit_test_collection.unit.name}} : {{test_list.name}}</h3>
                                {% endif %}
                                {% if days and last_instance %}
                                    <div><em>Last done: {% if last_day %}Day {{last_day}} ({{last_instance.test_list.name}}){% else %}New list{%endif%}</em></div>
                                {% endif %}
                            </div>

                            <div class="col-sm-6">
                                {% if test_list.warning_message %}
                                    <h3 class="do-not-treat box-title pull-right">
                                        <i class="fa fa-exclamation"></i>
                                        <strong>{{test_list.warning_message}}</strong>
                                    </h3>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="row">
                            <div class="col-sm-12">

                                <input type="hidden" id="test-list-id" value="{{test_list.pk}}"/>
                                <input type="hidden" id="test-list-name" value="{{test_list.name}}"/>
                                <input type="hidden" id="unit-id" value="{{unit_test_collection.unit.pk}}"/>
                                <input type="hidden" id="unit-number" value="{{unit_test_collection.unit.number}}"/>
                                <input type="hidden" id="cycle-day-number" value="{{current_day}}"/>

                                <input type="hidden" id="pass-fail-only" value="{% if perms.qa.can_view_ref_tol %}no{% else %}yes{% endif %}"/>
                                <input type="hidden" id="require-comment-on-skip" value="{% if perms.qa.can_skip_without_comment %}no{% else %}yes{% endif %}"/>

                                {% if formset.non_form_errors %}
                                    <div class="alert-message error">
                                        {% for error in formset.non_form_errors %}
                                            <span class="alert-error help-block-inline">{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% endif %}

                                {{formset.management_form}}

                                <table id="perform-qa-table" class="qa-table table table-bordered table-responsive table-condensed">
                                    <thead>
                                        <tr>
                                            <th class="qa-category">Category</th>
                                            <th class="qa-showproc qa-name">Name</th>
                                            <th class="qa-value" width=100>Value</th>
                                            <th class="qa-skip">Skip</th>
                                            <th class="qa-status">Status</th>
                                            <th class="qa-showcmt">Comment</th>
                                            {% if perms.qa.can_view_ref_tol or perms.qa.can_view_history %}
                                                {% if perms.qa.can_view_ref_tol %}
                                                    <th class="qa-reference">Reference</th>
                                                {% endif %}
                                                {% if perms.qa.can_view_history %}
                                                    <th class="qa-history">History<br/>
                                                        {% for d in history_dates %}
                                                            <span class="label history-label" title="{{d}}">{{d|date:"dMy"}}</span>
                                                        {% endfor %}
                                                    <div></div></th>
                                                {% endif %}
                                            {% else %}
                                                <th>&nbsp;<div></div></th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for test_form in formset %}
                                            {% qa_value_form test_form test_list include_history=perms.qa.can_view_history include_ref_tols=perms.qa.can_view_ref_tol test_info=test_form.get_test_info  %}
                                        {% endfor %}

                                    </tbody>
                                </table>

                                <div class="row">
{#                                    <div class="col-sm-6"></div>#}
                                    <div class="col-sm-7">
                                        <table class="table table-responsive table-condensed">
                                            <tbody>
                                                <tr>
                                                    <td class="width-"><strong>Attachments</strong></td>
                                                    <td>
                                                        <label class="qa-input btn btn-default btn-sm btn-flat" title="Click to add attachments. (Hold Ctrl or Cmd in the dialog to include multiple attachments)">
                                                            Browse <input id="tli-attachments" class="file-upload" type="file" name="tli-attachments" multiple style="display:none"/>
                                                        </label>
                                                    </td>

                                                    <td id="tli-attachment-names"
                                                        {% if perms.qa.can_view_ref_tol and perms.qa.can_view_history %}
                                                            colspan="6"
                                                        {% elif perms.qa.can_view_ref_tol or perms.qa.can_view_history %}
                                                            colspan="5"
                                                        {% else %}
                                                            colspan="4"
                                                        {% endif %}
                                                    >

                                                    {% if test_list_instance and test_list_instance.attachment_set.exists %}
                                                        {% for attach in test_list_instance.attachment_set.all %}
                                                            <i class="fa fa-paperclip fa-fw" aria-hidden="true"></i>{{ attach | attachment_link }}
                                                        {% endfor %}
                                                    {% endif %}
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="col-sm-5">

                                        <button id="submit-qa" type="submit" class="btn btn-primary btn-flat margin-r-5 pull-right">Submit QA Results</button>

{#                                        <a id="toggle-gen-comment" class="btn btn-default btn-flat pull-right margin-r-5" href="#!" title="Click here to add a general comment about this set of tests">Add Comment</a>#}

                                        <div class="pull-right margin-r-5">
                                            <label title="{{form.in_progress.help_text}}" for="id_in_progress" class="add-on">
                                                Mark this list as still in progress:
                                            </label>
                                            {{form.in_progress}}
                                        </div>

                                    </div>
                                </div>

                                <div id="qa-images">
                                    {% for test_form in formset %}
                                        {% with test=test_form.get_test_info.test ti=test_form.instance %}
                                            {% if test.display_image %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <strong><p>Images for {{ test }} Test: </p></strong>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div id="{{ test.slug }}"></div>
                                                </div>
                                            {% endif %}
                                        {% endwith %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if test_list.warning_message %}
                        <div class="box-footer">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h3 class="do-not-treat box-title pull-right">
                                        <i class="fa fa-exclamation"></i>
                                        <strong>{{test_list.warning_message}}</strong>
                                    </h3>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

    {% if test_list_instance %}

    </form>
        <div id="box-comments" class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-commenting-o fa-fw"></i>
                            Comments
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% render_comment_list for test_list_instance %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 padding-top-20">
                                {% get_comment_form for test_list_instance as form %}

                                    <form id="comment-form" method="post">
                                        {% csrf_token %}
                                        <input id="edit-tli" name="edit-tli" type="hidden" value="edit-tli">
                                        <input id="id_name" maxlength="50" name="name" type="hidden" required="" value="{{ user.username }}">
                                        {{ form.object_pk }}
                                        {{ form.content_type }}
                                        {{ form.security_hash }}
                                        {{ form.timestamp }}
                                        <textarea cols="40" id="id_comment" maxlength="3000" name="comment" rows="3" required="" placeholder="Add comment" class="margin-bottom-20 form-control autosize"></textarea>

                                    </form>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button id="post-comment" class="btn btn-flat btn-info btn-sm" disabled="disabled">Post Comment</button>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% else %}
        <div id="box-comments" class="row">
            <div class="col-sm-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-commenting-o fa-fw"></i>
                            Comments
                        </h3>
                    </div>
                    <div class="box-body">
                        <div id="qa-tli-comment">
                            {{ form.comment }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    {% endif %}



{% endblock %}

{% block main_sidebar %}
    <aside class="main-sidebar">

        <section class="sidebar">

            <ul class="sidebar-menu">

                <li class="header">Test List Menu</li>

                {% if test_list.description or unit_test_collection.tests_object.description %}
                    <li class="info toggle-element" data-toggle="description"><a id="toggle-description" href="#!">
                        <i class="fa fa-stack fa-fw" aria-hidden="true">
                            <i class="fa fa-file-text-o fa-stack-custom-main"></i>
                            <i class="fa fa-info fa-stack-custom-sub info"></i>
                        </i>
                        <span>Description</span>
                    </a></li>
                {% endif %}

                {% if perms.qa.can_review and perms.qa.can_review_own_tests or perms.qa.can_override_date %}
                    <li class="primary toggle-element active" data-toggle="admin"><a id="toggle-options" href="#!">
                        <i class="fa fa-wrench fa-fw" aria-hidden="true"></i>
                        <span>Admin Options</span>
                    </a></li>
                {% endif %}

                {% if attachments|length > 0 %}
                    <li class="primary toggle-element active" data-toggle="attachments"><a id="toggle-options" href="#!">
                        <i class="fa fa-paperclip fa-fw" aria-hidden="true"></i>
                        <span>Attachemnts</span>
                    </a></li>
                {% endif %}

                <li class="primary toggle-element active" data-toggle="comments"><a id="toggle-options" href="#!">
                    <i class="fa fa-commenting-o fa-fw" aria-hidden="true"></i>
                    <span>Comments</span>
                </a></li>

                {# Category selection #}
                {% if perms.qa.can_perform_subset and categories|length > 1 %}
                    <li class="treeview">
                        <a id="menu-categories" href="#!">
                            <i class="fa fa-tags fa-fw" aria-hidden="true"></i>
                            <span>Categories</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul id="category-list" class="treeview-menu" style="display: none;">
                            <li><a {% comment %}id="category-showall"{% endcomment %} class="has-icheck row" href="#!">
{#                                <i class="fa fa-circle-o success"></i>#}
                                <input id="category-showall" class="iCheck" type="checkbox" checked="checked">
                                <label for="category-showall">Show All</label>
                            </a></li>

                            {% for category in categories %}
                                <li><a class="has-icheck row" href="#!">
                                    <input id="category-{{ category.pk }}" class="iCheck check-category" type="checkbox" checked="checked">
                                    <label for="category-{{ category.pk }}">{{ category.name }}</label>
                                </a></li>
                            {% endfor %}

                        </ul>
                    </li>
                {% endif %}

                {# days selection #}
                {% if days %}
                    {% with unit_test_collection.tests_object as tlc %}
                        <li class="treeview">
                            <a id="menu-days" href="#!">
                                <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>
                                <span>{{ tlc.drop_down_label }}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul id="days-list" class="treeview-menu" style="display: none;">

                                <li><a class="has-icheck row" href="#">
                                    <input id="day-next" class="iCheck radio-days" type="radio" name="iCheck">
                                    <label for="day-next">Next scheduled</label>
                                </a></li>
                                {% for day, display in days %}
                                    <li><a class="has-icheck row" href="#">
                                        <input id="day-{{ day }}" class="iCheck radio-days" type="radio" name="iCheck" {% if day == current_day %}checked="checked"{% endif %}>
                                        <label for="day-{{ day }}">{{ display }}</label>
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endwith %}
                {% endif %}

                <li class="divider"></li>
                <li class="info toggle-element" data-toggle="contacts"><a id="toggle-contacts" href="#!">
                    <i class="fa fa-phone fa-fw" aria-hidden="true"></i>
                    <span>Contacts</span>
                </a></li>

            </ul>

        </section>

    </aside>
{% endblock main_sidebar %}

{% block loading_modal %}
    <div class="loading-modal ">
        <div class="center">
            <div>
                <span class="loading-logo">QAT</span>
                <i class="fa fa-fw fa-plus fa-spin fa-2x info"></i>
            </div>
            <div>
                <b>
                {% if test_list_instance %}
                    Loading {{test_list_instance.unit_test_collection.unit.name}} : {{test_list_instance.test_list.name}}
                {% else %}
                    Loading {{unit_test_collection.unit.name}} : {{test_list.name}}
                {% endif %}
                </b>
            </div>

        </div>
    </div>
{% endblock loading_modal %}

{% block end_body_extra_script %}

{% endblock %}



