{% extends "site_base.html" %}
{% load i18n %}
{% load qa_tags %}
{% load static %}

{% block head_title %}Delete {{ object.occurrence }} {{ object.fault_type.code }}{% endblock %}

{% block extra_css %}
  <link href="{% static "qatrack_core/css/tables.css" %}?v={{VERSION}}" rel="stylesheet">
  <link href="{% static "qa/css/qa.css" %}?v={{VERSION}}" rel="stylesheet">
{% endblock extra_css %}

{% block extra_js %}
{% endblock %}

{% block require_javascript %}
{% endblock require_javascript %}

{% block body %}

<div class="max-width-lg">
  <div class="row">
    <div class="col-md-12">
      <div class="box">
        <div class="box-body">
          <div class="row">
            <div class="col-sm-6">
              <h3>{% trans "Fault Details" %}</h3>

              <dl class="dl-horizontal">

                <dt>{% trans "Fault" %}:</dt>
                <dd>{{ fault }}</dt>

                <dt>{% trans "Occurred" %}:</dt>
                <dd>{{ fault.occurred }}</dt>

                <dt>{% trans "Site" %}:</dt>
                <dd>
                  {% if fault.unit.site %}
                    {{ fault.unit.site }}
                  {% else %}
                    {% trans "Other" %}
                  {% endif %}
                </dd>

                <dt>{% trans "Unit" %}:</dt>
                <dd>
                  <a
                    href="{% url "fault_list_by_unit" unit_number=fault.unit.number %}"
                    title="{% trans "Click to view all faults on this unit" %}"
                  >
                    {{ fault.unit }}
                  </a>
                </dd>

                <dt>{% trans "Modality / Beam" %}:</dt>
                <dd>
                  {% if fault.modality %}
                    {{ fault.modality }}
                  {% else %}
                    {% trans "Not Specified" %}
                  {% endif %}
                </dd>

                <dt>{% trans "Treatment Technique" %}:</dt>
                <dd>
                  {% if fault.treatment_technique %}
                    {{ fault.treatment_technique }}
                  {% else %}
                    {% trans "Not Specified" %}
                  {% endif %}
                </dd>

                <dt>{% trans "Created" %}:</dt>
                <dd>
                  {{ fault.created_by}} @ {{ fault.created }}
                </dd>

                <dt>{% trans "Last Modified"  %}:</dt>
                <dd>
                  {{ fault.modified_by}} @ {{ fault.modified }}
                </dd>

                <dt>{% trans "Reviewed" %}:</dt>
                <dd>
                  {% if fault.reviewed_by %}
                    {{ fault.reviewed_by}} @ {{ fault.reviewed }}
                  {% else %}
                    <em>{% trans "Unreviewed" %}</em>
                  {% endif %}
                </dd>

              </dl>
            </div>
            <div class="col-sm-6">

              <h3>{% trans "Fault Type" %}</h3>

              <dl class="dl-horizontal">
                <dt>{% trans "Code" %}:</dt>
                <dd>
                  <a
                    href="{% url "fault_type_details" slug=fault.fault_type.slug %}"
                    title="{% trans "Click to view details of this fault type" %}">
                    {{ fault.fault_type.code }}
                  </a>
                </dd>

                <dt>{% trans "Description" %}:</dt>
                <dd class="fault_type_description">
                  {% if fault.fault_type.description %}
                    {{ fault.fault_type.description }}
                  {% else %}
                    <em>{% trans "No description available" %}</em>
                  {% endif %}
                </dd>
              </dl>

            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <form class="form form-horizontal text-right" action="" method="post">
                {% csrf_token %}
                <p>
                  {% trans "Are you sure you want to <strong>permanently</strong> this fault?" %}
                </p>
                <button class="btn btn-danger btn-flat" type="submit"><i class="fa fa-trash-o"></i> Delete</button>
                <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-default btn-flat">
                  <i class="fa fa-ban"></i> Cancel
                </a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
