{% load i18n %}

{% for fri in fault.faultreviewinstance_set.all %}
  <span data-timestamp="{{ fri.reviewed|date:"U"}}">
    <abbr
      {% if fri.fault_review_group %}
        title="{% blocktrans with reviewed_by=fri.reviewed_by group=fri.fault_review_group %}Reviewed by {{ group }} group member {{ reviewed_by }}{% endblocktrans %}"
      {% else %}
        title="{% blocktrans with reviewed_by=fri.reviewed_by %}Reviewed by {{ reviewed_by }}{% endblocktrans %}"
      {% endif %}
    >
      {{ fri.reviewed }}
    </abbr>
  </span>
{% empty %}
  <em>{% trans "Unreviewed " %}
{% endfor %}
