{% extends "registration/base.html" %}

{% load qa_tags %}
{% load i18n %}
{% load static %}

{% block head_title %}
  {% trans "Manage Groups & Permissions" %}
{% endblock %}


{% block extra_css %}
  <link href="{% static "accounts/css/groups.css" %}?v={{VERSION}}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
    window.groupsUrl = "{% url "group-list" %}";
    window.allPermissions = {{ all_perms|safe }};
    require(['groups']);
{% endblock require_javascript %}

{% block body_class %}layout-top-nav{% endblock body_class %}

{% block account_box %}
<div class="box">

  <div class="box-header">
    <h3 class="box-title">
      <span class="fa fa-stack fa-fw">
        <i class="fa fa-users fa-stack-custom-main"></i>
        <i class="fa fa-lock fa-stack-custom-sub primary"></i>
      </span>
      {% trans "Group Membership & Permissions" %}
    </h3>
  </div>

  <div id="app" class="box-body">

    <div class="row">
      <div class="col-xs-12">
        {% blocktrans %}
          Use the controls below to set group permissions and control group
          membership.
        {% endblocktrans %}
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        <form action="">

          <div class="form-group">
            <label class="" for="groups">{% trans "Group" %}</label>
            <select class="form-control" id="groups" v-model="selected">
              <option v-for="group in groups" :value="group.name" v-text="group.name"></option>
            </select>
          </div>

          <p>{% trans "Click on the icons below to toggle the permission" %}</p>

          <template v-for="perms in allPermissions">

            <div class="form-group">
              <label class="" for="groups" v-text="selectedGroup + ' ' + perms[0] + ' Permissions'"></label>
              <ul class="list-unstyled">
                <li class="indent" v-for="perm in perms[1]">

                  <i :class="hasPerm(perm[0]) ? 'fa fa-check-circle fa-lg success' : 'fa fa-times-circle fa-lg danger'" aria-hidden="true"></i>
                  <strong v-text="perm[1]"></strong>
                  <em v-text="perm[0]"></em>
                </li>
              </ul>
            </div>

          </template>
        </form>

      </div>
    </div>
  </div>
</div>

{% endblock account_box %}
