{% extends "site_base.html" %}
{% load i18n %}


{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
    <h1>{% trans "Welcome to QATrack+" %}</h1>
    <p>Please choose one of the following available items</p>
    <ul>
        <li>
            <a title="Choose a Unit to perform qa on" href="{% url choose_unit %}">Choose a Unit</a>
        </li>

        <li>
            <a title="View available test lists to perform" href="{% url all_lists %}">Choose a QA test list to perform</a>
        </li>
        {% if user.is_staff %}
        <li>
            <a title="View overall program status" href="{% url review %}">Review overall QA program status</a>
        </li>
        <li>
            <a title="View trends and control charts" href="{% url charts %}">View Trends &amp; Control Charts</a>
        </li>
        {% endif %}
    </ul>

 {% endblock %}