{% extends "theme_base.html" %}

{% load i18n %}
{% block extra_head %}
{% endblock %}

{% block nav %}
    {% if user.is_authenticated %}
        <ul class="nav">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    QA
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    {% for freq in QA_FREQUENCIES %}
                        <li><a href="{% url qa_by_frequency freq.0 %}"><i class="icon-list"></i> {{freq.1}}</a></li>
                    {% endfor %}
                </ul>
            </li>
            {% if user.is_staff %}

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Review
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url  review %}"><i class="icon-check"></i>Review QA</a>
                    <li><a href="{% url charts %}"><i class="icon-picture"></i>Trending</a>
                </ul>
            </li>
            {% endif %}
        </ul>
    {% endif %}
{% endblock %}

{% block footer %}
    {% include "_footer.html" %}
{% endblock %}

{% block extra_body_base %}
    {% block extra_body %}{% endblock %}
{% endblock %}
