<div id="comments" class="box-comments">
    {% for comment in comment_list %}
        <div class="box-comment" id="c{{ comment.id }}">
            {% spaceless %}
                <div class="comment-text">
                    <span class="username">
                        {{ comment.name }}
                        <span class="text-muted pull-right">{{ comment.submit_date }}</span>
                    </span>
                    <span class="comment">{{ comment.comment }}</span>
                </div>
            {% endspaceless %}
        </div>
    {% endfor %}
</div>
