dd.fault_type_description {
  overflow-y: auto;
  max-height: 200px;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

#fault-modal .modal-dialog {
  width: 800px;
}

#listable-table-fault_list tr th[data-field="actions"]{
  width: 100px;
}

#listable-table-fault_list tr th[data-field="id"]{
  width: 50px;
}

#listable-table-fault_list tr th[data-field="get_occurred"]{
  width: 150px;
}

#listable-table-fault_list tr th[data-field="unit__name"]{
  width: 150px;
}

#listable-table-fault_list tr th[data-field="get_fault_types"]{
  width: 400px;
}
