dd.fault_type_description {
  overflow-y: auto;
  max-height: 200px;
}
.select2-container--default .select2-results__option[aria-disabled=true] {
    display: none;
}

#fault-modal .modal-dialog {
  width: 800px;
}

#listable-table-fault_list tr th:nth-child(2),
#listable-table-fault_list tr th:nth-child(2) input{
  width: 100px;
}

#listable-table-fault_list tr th:nth-child(5),
#listable-table-fault_list tr th:nth-child(5) input{
  width: 400px;
}
