{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'QATrack+ Admin Site' %}{% endblock %}

{% block branding %}
<h1 id="site-name">{% trans 'QATrack+ administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}

{{ block.super }}
<script>
django.jQuery.fn.preventDoubleSubmit = function() {
  django.jQuery(this).submit(function() {
    if (this.beenSubmitted)
      return false;
    else{
	  django.jQuery(this).find("input[type=submit]").attr("disabled","disabled").val("Submitting...");
      this.beenSubmitted = true;
	}
  });
};

django.jQuery(function(){
  django.jQuery("form").preventDoubleSubmit();
});

</script>
{% endblock footer %}
