{% extends "admin/base.html" %}
{% load i18n %}

{% block title %}{{ title }} | {% trans 'QATrack+ Admin Site' %}{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url home %}" title="QATrack+ Home">{% trans 'QATrack+ administration' %}</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}

{% block footer %}

{{ block.super }}
<script>

django.jQuery(function(){

  django.jQuery("form").submit(function() {

		if (this.beenSubmitted){
		  return false;
		}else{
		  django.jQuery(this).find("input[type=submit]").val("Submitting...");
		  this.beenSubmitted = true;		  
		}
	  });
	  
});

</script>
{% endblock footer %}
