<div class="module">

    <table id="change-history">
        <thead>
        <tr>
            <th scope="col">Date/time</th>
            <th scope="col">User</th>
            <th scope="col">Old Reference</th>
            <th scope="col">New Reference</th>
            <th scope="col">Old Tolerance</th>
            <th scope="col">New Tolerance</th>
            <th style="max-width: 300px" scope="col">Comment</th>
        </tr>
        </thead>
        <tbody>
          {% for new, old in history %}
            {% if new.reference or new.tolerance or old.reference or old.tolerance %}
            <tr>
              <th scope="row">{{ old.changed }}</th>
              <td>{{ old.changed_by.username }}</td>
              <td>{{ old.reference }}</td>
              <td>{% if forloop.first %}<strong>{% endif %}{{ new.reference }}{% if forloop.first %}</strong>{% endif %}</td>
              <td>{{ old.tolerance }}</td>
              <td>{% if forloop.first %}<strong>{% endif %}{{ new.tolerance }}{% if forloop.first %}</strong>{% endif %}</td>
              <td style="max-width: 300px" >{{ new.comment}}</td>
            </tr>
            {% endif %}
          {% endfor %}
        </tbody>
    </table>

</div>
