{% extends "admin/base_site.html" %}
{% load static %}

{% block content %}

<h1>Preview Copying Reference &amp; Tolerances </h1>


<table>
        <tr>
            <th>Test List (Cycle):</th>
            <td>{{source_test_list}}</td>
        </tr>
        <tr>
            <th>Source Unit</th>
            <td>{{source_unit}}</td>
        </tr>
        <tr>
            <th>Dest Unit</th>
            <td>{{dest_unit}}</td>
        </tr>
</table>

<table>
    <thead>
        <tr>
            <th>Test</th>
            <th>{{dest_unit}} Current Reference</th>
            <th>{{dest_unit}} Current Tolerance</th>
            <th>New Reference</th>
            <th>New Tolerance</th>
        </tr>
    </thead>
    <tbody>
        {% for dest, source in dest_source_utis %}
        <tr>
            <td>{{dest.test}}</td>
            <td>{{dest.reference.value_display}}</td>
            <td>{% firstof dest.tolerance "<em>--</em>" %}</td>
            <td>{{source.reference.value_display}}</td>
            <td>{% firstof source.tolerance "<em>--</em>" %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form action="" method="post">{% csrf_token %}
    {% for field in form %}
        {{ field.as_hidden }}
    {% endfor %}
    <input type="hidden" name="{{ stage_field }}" value="2" />
    <input type="hidden" name="{{ hash_field }}" value="{{ hash_value }}" />
    <p><input name="cancel" type="submit" value="Cancel" /><input name="confirm" type="submit" value="Confirm" /></p>
</form>

{% endblock %}


