{% extends "registration/base.html" %}

{% load i18n %}
{% load qatrack_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block change_active %} class="active"{% endblock %}

{% block account_box %}
    <div class="box box-primary">

        <div class="box-header">
            <h3 class="box-title">
                <span class="fa fa-stack fa-fw" aria-hidden="true">
                    <i class="fa fa-lock fa-stack-custom-main"></i>
                    <i class="fa fa-pencil fa-stack-custom-sub primary"></i>
                </span>
                {% trans "Change Password" %}
            </h3>
        </div>

        <div class="box-body">
            <form method="POST" action="">

                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="alert alert-error">
                            {% if form_error_title %}
                                <strong>{{ form_error_title }}</strong>
                            {% endif %}
                            {% for error in form.non_field_errors %}
                                {{ error }}<br />
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% for field in form %}
                        {% if field.is_hidden %}
                            {{ field }}
                        {% else %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}">
                                {{ field|custominput:"form-control" }}
                                {% for error in field.errors %}
                                    <span class="help-block">{{ error }}</span>
                                {% endfor %}
                                {% if field.help_text %}
                                    <p class="help-block">{{ field.help_text|safe }}</p>
                                {% endif %}
                            </div>
                        {% endif %}
                    {% endfor %}

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary btn-flat">{% trans "Change password" %}</button>
                    </div>

            </form>
        </div>
    </div>

{% endblock %}
