{% extends "registration/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Succesfully Changed" %}{% endblock %}

{% block account_box %}
<div class="box">

  <div class="box-header">
    <h3 class="box-title">
      <span class="fa fa-stack fa-fw" aria-hidden="true">
        <i class="fa fa-lock fa-stack-custom-main"></i>
        <i class="fa fa-pencil fa-stack-custom-sub primary"></i>
      </span>
        {% trans "Password Succesfully Changed" %}
    </h3>
  </div>

  <div class="box-body">
    {% url 'auth_password_change' as password_change_url %}
    <p>{% blocktrans %}You may change it again by visiting <a href="{{ password_change_url }}">the password change page</a>.{% endblocktrans %}</p>
  </div>
</div>
{% endblock %}
