{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
	<script src="{% static "js/qautils.js" %}"></script>
    <script src="{% static "js/charts.js" %}"></script>
    <script src="{% static "js/dygraph-combined.js" %}"></script>
    <script src="{% static "js/jquery.flot.min.js" %}"></script>
    <script src="{% static "js/jquery.flot.resize.js" %}"></script>
    <script src="{% static "js/jquery.flot.fillbetween.js" %}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>
{% endblock %}

{% block body %}

    <div class="row-fluid">
        <div class="span12">
            <h2>Data Trending</h2>
        </div>
    </div>

    <div class="row-fluid">
        <div class="span3" >
            <div class="accordion" id="filter-accordion">
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#filter-accordion" href="#date-collapse">
                            Date Filter
                        </a>
                    </div>
                    <div id="date-collapse" class="accordion-body collapse in">
                        <div class="accordion-inner form-horizontal" id="dates-filter">
							<label for="from-date-container" class="control-label-small">
								From:
							</label>

							<div class="input-append date" id="from-date-container" data-date="{{from_date|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
								<input id="from-date" class="date-filter input-small" type="text" name="work_completed" value="{{from_date|date:'d-m-Y'}}" title="From Date in Format MM-DD-YY" />
								<span class="add-on"><i class="icon-th"></i></span>
							</div>

							<label for="to-date-container" class="control-label-small">
								To:
							</label>
							<div class="input-append date" id="to-date-container" data-date="{{to_date|date:'d-m-Y'}}" data-date-format="dd-mm-yyyy">
								<input id="to-date" class="date-filter input-small" type="text" name="work_completed" value="{{to_date|date:'d-m-Y'}}" title="From Date in Format MM-DD-YY" />
								<span class="add-on"><i class="icon-th"></i></span>
							</div>
                        </div>
                    </div>
                </div>

				{% for display,filter_type in check_list_filters %}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#filter-accordion" href="#{{filter_type}}-collapse">
                            {{display}} Filter
                        </a>
                    </div>
                    <div id="{{filter_type}}-collapse" class="accordion-body collapse in">
                        <div class="accordion-inner checkbox-container" id="{{filter_type}}-filter">

                        </div>
                    </div>
                </div>

				{% endfor %}
            </div> <!--end accordion-->

        </div> <!--end filter container-->

            <div id="trend-chart"  class="span7"></div>

        <div class="span2">
			<div class="well">
				<h4>Legend</h4>
				<div id="chart-legend"></div>
			</div>
            <div id="chart-options" class="well form-horizontal">
				<h4>Options</h4>
				<div class="control-group chart-options">
					<label class="control-label" for="chart-type">
						Type:
						<select id="chart-type" class="inline input-small">
							<option value="basic">Basic</option>
							<option value="basic">Control Chart</option>
						</select>
					</label>
					<label class="control-label" for="show-lines">
						Show Lines:
						<input type="checkbox" id="show-lines"  />
					</label>
					<label class="control-label" for="show-references">
						Show References:
						<input type="checkbox" id="show-references" checked="checked" />
					</label>
					<label class="control-label" for="show-tolerances">
						Show Tolerances:
						<input type="checkbox" id="show-tolerances" checked="checked" />
					</label>


				</div>
			</div>
        </div> <!-- end controls-->
    </div>



{% endblock %}
