{% extends "site_base.html" %}

{% block body %}

    <h2>{{unit_task_list.unit.name}} {{frequency|title}} Task Lists</h2>

    <table class="table table-bordered table-striped table-condensed span6">

        <thead>
            <tr>
                <th>Task List</th>
                <th>{{ frequency|title }} QA Last Performed</th>
                <th>QA Status</th>
                <th>Perform</th>
            </tr>
        </thead>
        <tbody>
        {% for task_list in unit_task_list.lists_and_cycles %}
            <tr>
                <td>{{task_list.name|title}}</td>
                {% with last_completed=task_list.last_completed_instance %}
                {% if last_completed %}
                        <td>{{last_completed.created}}</td>
                        <td>{{last_completed.status}}</td>
                    {% else %}
                        <td><span class="btn-info disabled">New Task List</span></td>
                        <td><span class="btn-info disabled">New Task List</span></td>
                    {% endif %}
                 {% endwith %}
                 <td><a href="{%url perform_qa pk=task_list.pk unit=unit_task_list.unit.number %}">Perform</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
