{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h2>{{unit_task_list.unit.name}} {{frequency|title}} Task Lists</h2>

    <table class="table table-bordered table-striped table-condensed span6">

        <thead>
            <tr>
                <th>Task List</th>
                <th>{{ frequency|title }} QA Last Performed</th>
                <th>QA Status</th>
                <th>Perform</th>
            </tr>
        </thead>
        <tbody>
        {% for task_list, last_completed in unit_task_list.task_lists_and_last_complete %}
            <tr>
                <td>{{task_list.name|title}}</td>

                {% if last_completed %}
                    <td>{{last_completed.work_completed}}</td>
                    <td>
                        {% for status,display,tests in last_completed.pass_fail_status %}
                            {% if tests.count > 0 %}
                            <span class="label {{status}}">{{tests.count}} {{display}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td><span class="btn-info disabled">New Task List</span></td>
                    <td><span class="btn-info disabled">New Task List</span></td>
                {% endif %}

                 <td><a href="{%url perform_qa frequency=frequency type="task_list" pk=task_list.pk unit_number=unit_task_list.unit.number %}">Perform</a></td>
            </tr>
        {% endfor %}

        {% for cycle_, last_completed in unit_task_list.cycles_and_last_complete %}
            <tr>
                <td>{{cycle_.name|title}}</td>
                {% if last_completed %}
                    <td>{{last_completed.work_completed}}</td>
                    <td>
                        {% for status,display,tests in last_completed.pass_fail_status %}
                            {% if tests.count > 0 %}
                            <span class="label {{status}}">{{tests.count}} {{display}}</span>
                            {% endif %}
                        {% endfor %}
                    </td>
                {% else %}
                    <td><span class="btn-info disabled">New Task List</span></td>
                    <td><span class="btn-info disabled">New Task List</span></td>
                {% endif %}
                 <td><a href="{%url perform_qa frequency=frequency type="cycle" pk=cycle_.pk unit_number=unit_task_list.unit.number%}?day=next">Perform</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}
