{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}" rel="stylesheet">
{% endblock %}

{% block extra_script %}
    <script src="{% static "js/qautils.js" %}"></script>
    <script src="{% static "js/qa.js" %}"></script>
{% endblock %}

{% load qa_tags %}

{% block body %}
<div class="row">
    <div class="span12">
        <h2>Perform {{task_list.unit.name}} {{task_list.name|title}}</h3>
    </div>
</div>

<div class="row">

    <div class="span6 well inline-block form-horizontal">

        <div id="filters" class="control-group">
            {% if days %}
                <label for="category_filter" class="control-label">Choose Day:</label>

                <div class="controls">
                    <div class="input-append">
                        <select id="cycle_day" class="input-medium">
                            {% for day in days %}
                                <option value="{{day}}" {% if day == current_day %}selected="selected"{% endif %}>
                                    Day {{day}}
                                </option>
                            {% endfor %}
                        </select>
                        <button class="btn" type="button">Go!</button>
                    </div>
                </div>

            {% endif %}

            <label for="category_filter" class="control-label">Filter by categories:</label>
            <div class="controls">
                <select id="category_filter" multiple="multiple" class="input-medium">
                    <option value="all">Show All</option>
                    {% for category in categories %}
                        <option value="{{category.name|lower}}">
                            {{category.name|title}}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
    </div>
    {% if user.is_staff %}
        <div id="admin_controls" class="inline-well well span5">
            <h4>Admin Controls</h4>
        </div>
    {% endif %}

</div>
<div class="row">
    <div class="span12">
        <form class="nosubmit form-inline" id="qa-form" method="POST" action="">
            {% csrf_token %}

            {# display any form errors up top #}
            {% if form.errors %}
                <div class="alert-message error">
                    {% for field,errors in form.errors.items %}
                        {% for error in errors %}
                                <span class="error help-block-inline">{{field}} - {{ error }}</span>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}

            {% if formset.non_form_errors %}
                <div class="alert-message error">
                    {% for error in formset.non_form_errors %}
                        <span class=" error help-block-inline">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            {{formset.management_form}}
            <table class="qa-table table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="span3 qa-name">Name</th>
                        <th class="span2 qa-category">Category</th>
                        <th class="qa-value">Value</th>
                        <th class="qa-skip">Skip</th>
                        <th class="qa-status">Status</th>
                        <th class="qa-showproc">Procedure</th>
                        <th class="qa-showcmt">Comment</th>
                        <th class="qa-reference">Reference</th>
                    </tr>
                </thead>
                <tbody>
                {% for item_form in formset %}
                    {{item_form|as_qavalue}}
                {% endfor %}
                </tbody>
            </table>
            <div class="actions">
                <button type="submit" class="btn btn-primary">Submit QA Results</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
