{% extends "site_base.html" %}
{% load staticfiles %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}" rel="stylesheet">
    <link href="{% static "datepicker/css/datepicker.css" %}" rel="stylesheet">
{% endblock %}


{% load qa_tags %}

{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>Perform {{unit_test_collection.unit.name}} {{unit_test_collection.tests_object.name|title}}</h3>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		<form class="nosubmit form-inline" id="qa-form" method="POST" action="">
			{% csrf_token %}

			{% if include_admin or days%}


				<div id="admin_controls" class="well controls">
					<h4>Admin Controls</h4>
					{% if include_admin %}
					<label for="category_filter" class="control-label">
						<div>Filter by categories:</div>
						<div>
							<select id="category_filter" multiple="multiple" class="input-medium">
								<option value="all">Show All</option>
								{% for category in categories %}
									<option value="{{category.name|lower}}">
										{{category.name|title}}
									</option>
								{% endfor %}
							</select>
						</div>
					</label>

					<label for="work-completed" class="control-label">
						<div>{{form.work_completed.label}}:</div>
						<div class="input-append date" id="work-completed" data-date="{% now 'd-m-Y' %}" data-date-format="dd-mm-yyyy">
							{{form.work_completed}}<span class="add-on"><i class="icon-th"></i></span>
							{% for error in form.errors.work_completed %}
								<span class="alert-error help-block-inline">{{ error }} {{form.work_completed.help_text}}</span>
							{% endfor %}
						</div>
					</label>

					<label for="status" class="control-label">
						<div>{{form.status.label}}:</div>
						<div>
							{{form.status}}
							{% for error in form.errors.status %}
								<span class="alert-error help-block-inline">{{ error }} {{form.status.help_text}}</span>
							{% endfor %}
						</div>
					</label>
					{% endif %}
					{% if days %}
					<label for="cycle-day" class="control-group" >
						<div>
							Choose Day:
						</div>
						<div class="input-append">
							<select id="cycle-day" class="input-medium" {% if not days %}disabled="disabled"{%endif%}>
								<option value="next">Next scheduled</option>
								{% for day in days %}
									<option value="{{day}}" {% if day == current_day %}selected="selected"{% endif %}>
										Day {{day}}
									</option>
								{% endfor %}
							</select><a href="#" class="btn add-on" type="button" {% if days %}id="change-test-list"{%endif%}>Go</a>
						</div>
					</label>
					{% endif %}
				</div>
			{% endif %}

			{# display any form errors up top #}
			{% if form.errors %}
				<div class="alert-message error">
					{% for field,errors in form.errors.items %}
						{% if field != "work_completed" %}
							{% for error in errors %}
								<span class="alert-error help-block-inline ">{{ error }}</span>
							{% endfor %}
						{% endif %}
					{% endfor %}
				</div>
			{% endif %}

			{% if formset.non_form_errors %}
				<div class="alert-message error">
					{% for error in formset.non_form_errors %}
						<span class="alert-error help-block-inline">{{ error }}</span>
					{% endfor %}
				</div>
			{% endif %}


			{{formset.management_form}}

			<table class="qa-table table table-bordered table-striped table-condensed" >
				<thead>
					<tr>
						<th class="qa-showproc qa-name">Name<div></div></th>
						<th class="qa-category">Category</th>
						<th class="qa-value" width=100>Value</th>
						<th class="qa-skip">Skip</th>
						<th class="qa-status">Status</th>
						<th class="qa-showcmt">Comment</th>
						{% if include_admin %}
							<th class="qa-reference">Reference</th>
							<th class="qa-history">History<div></div></th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
				{% for test_form in formset %}
					{{test_form|as_qavalue:include_admin}}
				{% endfor %}
				</tbody>
			</table>

			<div class="actions">
				<button type="submit" class="btn btn-primary">Submit QA Results</button>
			</div>
		</form>
	</div>
</div>
{% endblock %}

{% block end_body_extra_script %}
    <script type="text/javascript" src="{% static "js/json2.js" %}"></script>

    <script src="{% static "js/qa.js" %}"></script>
    <script src="{% static "datepicker/js/bootstrap-datepicker.js" %}"></script>

{% endblock %}
