{% load qa_tags %}
{% for field in form %}
    {% if field.errors %}
        <tr>

            <td colspan="2">&nbsp;</td>
            <td>
            {% for error in field.errors %}
                <span class="alert-error">{{ error }}</span>
            {% endfor %}
            </td>
			{% if include_admin %}
	            <td colspan="5">&nbsp;</td>
			{% else %}
	            <td colspan="3">&nbsp;</td>
			{% endif %}
        </tr>
    {% endif %}
{% endfor %}
<tr class="control-group qa-valuerow">
    {% with ref=form.unit_test_info.reference  tol=form.unit_test_info.tolerance  test=form.unit_test_info.test uti=form.unit_test_info%}

		{# Hidden inputs required for checking pass/fail status #}
        <input type="hidden" class="qa-reference-val" value="{{ref.value}}"/>
        <input type="hidden" class="qa-tolerance act_low" value="{{tol.act_low}}"/>
        <input type="hidden" class="qa-tolerance tol_low" value="{{tol.tol_low}}"/>
        <input type="hidden" class="qa-tolerance tol_high" value="{{tol.tol_high}}"/>
        <input type="hidden" class="qa-tolerance act_high" value="{{tol.act_high}}"/>
        <input type="hidden" class="qa-tolerance mc_pass_choices" value="{{tol.mc_pass_choices}}"/>
        <input type="hidden" class="qa-tolerance mc_tol_choices" value="{{tol.mc_tol_choices}}"/>
		
        <input type="hidden" class="qa-tolerance-type" value="{{tol.type}}"/>
		<input type="hidden" class="qa-contextname" value="{{test.slug}}"/>
		<input type="hidden" class="qa-test-id" value="{{test.pk}}"/>
		<input type="hidden" class="qa-testtype" value="{{test.type}}"/>


		<td class="qa-name qa-showproc"><a href="#" class="revealprocedure" title="Show/hide procedure for this test">{{test.name}}</a></td>
		<td class="qa-category">{{test.category.name|title}}</td>
		<td class="qa-value" width=100 title="{{form.value.help_text|safe}}">
			{% if test.is_boolean %}
				<span class="pull-left">{{form.value.0}}</span>
				<span class="pull-right">{{form.value.1}}</span>
			{% else %}
				 <span class="">{{form.value}}</span>
			{% endif %}
		</td>


        <td class="qa-skip" title="{{form.skipped.help_text|safe}}">{{form.skipped}}</td>
        <td class="qa-status">Not Done</td>
        <td class="qa-showcmt"><a href="#" class="revealcomment" title="Add comment for this test"><i class="icon-comment"></i></a></td>
		{% if include_admin %}
			<td class="qa-reference">
				{% if not ref %}
					<span>No Ref</span>
				{% else %}
					{% if tol.type == "percent" %}
						<span title="{{tol.act_low}}% &le; {{tol.tol_low}}% &le; {{ref.value}} &le; {{tol.tol_high}}% &le; {{tol.act_high}}%">{{ref.value}}</span>
					{% elif tol.type == "multchoice" %}
						<span title="Passing Values: {{tol.mc_pass_choices}};  Tolerance Values: {{tol.mc_tol_choices}}; All other choices will are failing"><em>Mult. Choice</em></span>					
					{% else %}
						<span title="{{tol.act_low}} &le; {{tol.tol_low}} &le; {{ref.value}} &le; {{tol.tol_high}} &le; {{tol.act_high}}">{{ref.value}}</span>
					{% endif %}
				{% endif %}
			</td>
			<td class="qa-history">
				{% for d,v,pf,s in uti.history %}
					{% if d and pf != "not_done"%}
					<span class="label {{pf}} history-value" title="{{d}} - {{s}}">{{v|scientificformat}}</span>
					{% else %}
						<span class="label history-value" title="N/A">N/A</span>					
					{% endif %}
				{% endfor %}
			</td>
        {% endif %}

    {% endwith %}
</tr>
<tr class="qa-comment">
    <td colspan="8"  class="" title="{{form.comment.help_text|safe}}">
        <label class="label">Add Comment For Reviewer:</label>
        {{form.comment}}
    </td>
</tr>
<tr class="qa-procedure">
    <td colspan="8"  class="" >
		<table>
			{% if form.unit_test_info.test.procedure %}
			<tr>
				<td>
					<label class="label">Detailed procedure link:</label>
				</td>
				<td>
					<a href="{{form.unit_test_info.test.procedure}}" class="revealprocedure" title="Show detailed procedure for this test" target="_blank">{{form.instance.test.name}}</a>
				</td>
			</tr>
			{% endif %}
			<tr>
				<td>
					<div class="qa-procedure-text"><pre>{{form.unit_test_info.test.description.strip|safe}}</pre></div>
				</td>
			</tr>
		</table>
	</td>
</tr>

