{% extends "site_base.html" %}

{% load staticfiles %}

{% block extra_script %}
    <script src="{% static "data_tables/js/jquery.dataTables.js" %}"></script>
    <script src="{% static "data_tables/js/jquery.dataTables.columnFilter.js" %}"></script>
	<script src="{% static "data_tables/js/DT_bootstrap.js" %}"></script>
	<script src="{% static "data_tables/js/DT_sort.js" %}"></script>

    <script src="{% static "js/jquery.flot.min.js" %}"></script>
    <script src="{% static "js/jquery.flot.resize.js" %}"></script>
    <script src="{% static "js/jquery.flot.fillbetween.js" %}"></script>
    <script src="{% static "js/jquery.sparkline.min.js" %}"></script>

	<script src="{% static "js/qautils.js" %}"></script>
	<script src="{% static "js/qareview.js" %}"></script>

{% endblock %}

{% block extra_style %}
    <link href="{% static "css/qa.css" %}" rel="stylesheet">
    <link href="{% static "data_tables/css/DT_bootstrap.css" %}" rel="stylesheet">
{% endblock extra_style %}

{% block body %}
    <div class="row-fluid">
        <div class="span12">
            <h2>Overall QA Program Status</h2>
        </div>
    </div>
    <div class="row-fluid" >
        <div class="span12 container form-inline">
            <table class="table table-condensed table-bordered table-striped" id="qa-task-list-table">
                <thead>
                    <tr>
                        {% for header in table_headers %}
							<th>{{header}}</th>
                        {% endfor %}
					</tr>
                </thead>

                <tbody>

                    {% for row in data %}
                        <tr class="{% cycle 'odd' 'even' %}" {% for k,v in row.info.items %} data-{{k}}="{{v}}" {% endfor %} >
                            {% for prop,val in row.attrs %}
                                <td>
                                    {% if prop == "status" %}
                                        {% for status,display,tests in val %}
                                            {% if tests.count > 0 %}
                                            <span class="{{status}}">{{tests.count}} {{display}}</span>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{val}}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </tbody>
				<tfoot>
                    <tr>
                        {% for header in table_headers %}
                            <th>{{header}}</th>
                        {% endfor %}
					</tr>
				</tfoot>
            </table>
        </div>
    </div>


{% endblock body %}
