{% load staticfiles %}
{% load qa_tags %}


<table class="table table-bordered table-striped table-condensed {% if filter_table %}test-collection-table{% endif %} {{table_type}}-table">

	<thead>
		{% include "unittestcollections_table_headers.html"%}
		{% if filter_table %}
			{% include "unittestcollections_table_headers.html"%}
		{% endif %}
	</thead>
		<tbody>

		{% for utc in unittestcollections %}
			{# display all individual test lists #}
			<tr class="{% cycle 'odd' 'even' %} has-due-date">
				{% if table_type != "review" %}
				<td><a class="btn btn-primary btn-mini" href="{%url perform_qa utc.pk%}?day=next">Perform {{utc.frequency.name}} QA</a></td>
				{% endif %}
				<td>
					{{utc.unit.name}}
				</td>
				<td>{{utc.frequency.name}}</td>
				<td><strong>{{utc.tests_object.name}}</strong></td>

				{% if  utc.last_instance %}
					<td>
						{% if request.user.is_staff %}
							<a href="{% url review_test_list_instance utc.last_instance.pk %}" title="view details of last instance">{{utc.last_instance.work_completed}}</a>
						{% else %}
							<abbr title="QA performed by {{utc.last_instance.created_by}}">{{utc.last_instance.work_completed}}</abbr>
						{% endif %}
						<i class="icon-user" title="QA performed by {{utc.last_instance.created_by}}"></i>
					</td>
					<td>
						{{utc|as_due_date}}
					</td>
					<td class="pass_fail_status">
						{{utc.last_instance|as_pass_fail_status}}
					</td>
				{% else %}
					<td>New List</td>
					<td>New List</td>
					<td>New List</td>
				{% endif %}

				{% if table_type = "review" %}
					{% with utc.requires_review as unreviewed %}
					<td class="review_status">
						<span class="label unreviewed-count-wrapper {% if unreviewed %}label-warning{% else %}label-success{% endif %}">
							<span class="unreviewed-count">{{unreviewed|length}}</span>
							Unreviewed
						</span>
					</td>

					<td class="history">
						<select class="pull-right input-medium instance-id">
							<option value="hide">Hidden</option>
							{% for h in unreviewed %}
									<option data-test_list_id="{{h.test_list.pk}}" value="{{h.pk}}" class="unreviewed">* {{h.work_completed}} *</option>
							{% endfor %}

						</select>
					</td>
					{% endwith %}

				{% else %}
					<td>{{utc.assigned_to.name}}</td>
				{% endif %}
		   </tr>
		{% empty %}
			<tr><td><em>No test lists to display</em></td></tr>
		{% endfor %}
	</tbody>
	<tfoot>
		{% include "unittestcollections_table_headers.html"%}
	</tfoot>
	{% if table_type = "review" %}
		<script src="{% static "js/jquery.flot.min.js" %}"></script>
		<script src="{% static "js/jquery.flot.resize.js" %}"></script>
		<script src="{% static "js/jquery.flot.fillbetween.js" %}"></script>
		<script src="{% static "js/jquery.sparkline.min.js" %}"></script>
	{% endif %}
</table>
