{% load i18n %}
<div style="min-width: 85px;">
  {% if perms.interlocks.change_interlock %}
    <a class="btn btn-default btn-xs btn-flat"
      href="{% url 'interlock_edit' interlock.pk %}{% if next %}?next={{ next }}{% endif %}"
      title="{% blocktrans %}Edit details of {{ interlock }}{% endblocktrans %}"
    >{% trans "Edit" %}</a>
  {% endif %}
  {% if perms.interlocks.view_interlock %}
    <a class="btn btn-default btn-xs btn-flat"
      href="{% url 'interlock_details' interlock.pk %}{% if next %}?next={{ next }}{% endif %}"
      title="{% blocktrans  %}View details of {{ interlock }}{% endblocktrans %}"
    >
      {% trans "Details" %}
    </a>
  {% endif %}
</div>
