{% load i18n %}

<li class="se_log" style="display: list-item;">

  <i class="fa fa-stack">
    <i class="fa fa-exclamation fa-stack-custom-sub upper-left" style="color: {{ new_status_colour }}"></i>
    <i class="fa fa-wrench fa-lg status_colour"></i>
  </i>

  <div class="timeline-item{% if can_view %} can-view{% elif not instance.service_event.is_active %} deleted{% endif %}">
    <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{ datetime_display }}</span>
    <h3 class="timeline-header header-se_new"{% if can_view %} onclick="window.location='{% url 'sl_details' pk=instance.service_event.id %}'"{% endif %}>

      <div class="pull-right margin-right-20 label label-default">
        {{ instance.service_event.unit_service_area.unit.name }}
      </div>

      <div class="margin-bottom-10">
        {% blocktrans with service_event_id=instance.service_event_id old_status_tag=old_status_tag|safe new_status_tag=new_status_tag|safe %}
          {{ user }} changed status of service event {{ service_event_id }} from {{ old_status_tag }} to {{ new_status_tag }}
        {% endblocktrans %}
      </div>

      {% if extra_info.other_changes.items|length > 0 %}
        <div class="dash-change title row margin-bottom-10">
          <div class="col-sm-12">{% trans "Other changes made" %}:</div>
        </div>
        <div class="padding-left-10">
          <div class="dash-change title row">
            <div class="col-sm-2">{% trans "Field Changed" %}</div>
            <div class="col-sm-4">{% trans "Old Value" %}</div>
            <div class="col-sm-4">{% trans "New Value" %}</div>
          </div>
          {% for key, val in extra_info.other_changes.items %}
            {% if key == 'a_deleted' %}
              <div class="dash-change item row hover deleted">
                <div class="col-xs-2">{% trans "Attachments deleted" %}</div>
                <div class="col-xs-4">
                  {% for d in val.old %}
                    <div class="row">
                      <div class="col-xs-12">{{ d }}</div>
                    </div>
                  {% endfor %}
                </div>
                <div class="col-xs-4"></div>
              </div>
            {% elif key == 'a_added' %}
              <div class="dash-change item row hover">
                <div class="col-xs-2">{% trans "Attachments added" %}</div>
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                  {% for a in val.new %}
                    <div class="row">
                      <div class="col-xs-12">{{ a }}</div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% else %}
              <div class="dash-change item row hover">
                <div class="col-xs-2">{{ key }}</div>
                <div class="col-xs-4">{{ val.old }}</div>
                <div class="col-xs-4">{{ val.new }}</div>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </h3>
  </div>
</li>
