

<li class="se_log" style="display: list-item;">

    <i class="fa fa-stack">
        <i class="fa fa-wrench fa-stack-custom-main fa-lg"></i>
        <i class="fa fa-pencil fa-stack-custom-sub fa-flip-horizontal upper-left primary"></i>
    </i>

    <div class="timeline-item{% if can_view %} can-view{% elif not instance.service_event.is_active %} deleted{% endif %}">
        <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{ datetime_display }}</span>
        <h3 class="timeline-header header-se_new"{% if can_view %} onclick="window.location='{% url 'sl_details' pk=instance.service_event.id %}'"{% endif %}>
            <div class="pull-right margin-right-20 label label-default">
                {{ instance.service_event.unit_service_area.unit.name }}
            </div>
            <div class="margin-bottom-10">{{ user }} modified service event {{ instance.service_event_id }}</div>
            <div class="padding-left-10">
                {% if extra_info.items|length > 0 %}
                    <div class="dash-change title row">
                        <div class="col-xs-2">Field Changed</div>
                        <div class="col-xs-4">Old Value</div>
                        <div class="col-xs-4">New Value</div>
                    </div>
                    {% for key, val in extra_info.items %}
                        <div class="dash-change item row{% if extra_info.items|length > 1 %} hover{% endif %} ">
                            <div class="col-xs-2">{{ key }}</div>
                            <div class="col-xs-4">{{ val.old }}</div>
                            <div class="col-xs-4">{{ val.new }}</div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </h3>
    </div>
</li>