{% extends "site_base.html" %}

{% load widget_tweaks %}

{% block head_title %}Service Event{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}service_log/css/sl.css?v={{ VERSION }}" rel="stylesheet">
{#    <link href="{{ STATIC_URL }}adminlte/css/admin-lte.css?v={{ VERSION }}" rel="stylesheet"> <!-- Added again here to override select2 styles -->#}
{% endblock extra_css %}

{% block extra_js %}
    <script type="text/javascript">
         var colours_dict = {{ service_event_tag_colours|safe }};
    </script>
{% endblock extra_js %}

{% block require_javascript %}
    require(['sl_serviceevent']);
{% endblock require_javascript %}

{% block body_class %}layout-top-nav{% endblock body_class %}

{% block body %}

    <div class="row">
        <div class="col-md-12">Top Buttons here</div>
    </div>

    <form action="" method="post" novalidate>
        {% csrf_token %}

        {% if form.instance.id %}
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-primary">
                        <div class="box-header">

                        </div>
                        <div class="box-body form-horizontal status-dates">
                            <div class="row">
                                <div class="col-sm-3">
                                    <dl class="dl-horizontal">
                                        <dt>Created:</dt>
                                        <dd>
                                            <div>{{ form.instance.datetime_created }}</div>
                                            <div>by {{ form.instance.user_created_by }}</div>
                                        </dd>
                                    </dl>
                                </div>
                                {% if form.instance.datetime_modified %}
                                    <div class="col-sm-3">
                                        <dl class="dl-horizontal">
                                            <dt>Modified:</dt>
                                            <dd>
                                                <div>{{ form.instance.datetime_modified }}</div>
                                                <div>by {{ form.instance.user_modified_by }}</div>
                                            </dd>
                                        </dl>
                                    </div>
                                {% endif %}
                                {% if form.instance.datetime_status_changed %}
                                    <div class="col-sm-3">
                                        <dl class="dl-horizontal">
                                            <dt>Status Changed:</dt>
                                            <dd>
                                                <div>{{ form.instance.datetime_status_changed }}</div>
                                                <div>by {{ form.instance.user_status_changed_by }}</div>
                                            </dd>
                                        </dl>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">

                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div id="required-fields" class="col-md-6 form-horizontal">

                                {% for field in form.fieldsets.required_fields %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        {% if 'autosize' in field.field.widget.attrs.class %}
                                            <div class="col-sm-12">
                                                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} required{% endif %}">{{ field.label }}</label>
                                                {{ field|add_class:form.fieldsets.required_fields.classes }}
                                                {% for e in field.errors %}
                                                    <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <label for="{{ field.id_for_label }}" class="col-sm-4{% if field.field.required %} required{% endif %}">{{ field.label }}</label>
                                            <div class="col-sm-8">
                                                {{ field|add_class:form.fieldsets.required_fields.classes }}
                                            </div>
                                            {% for e in field.errors %}
                                                <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>

                            <div id="optional-fields" class="col-md-6 form-horizontal">

                                {% for field in form.fieldsets.optional_fields %}
                                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                                        {% if 'autosize' in field.field.widget.attrs.class %}
                                            <div class="col-sm-12">
                                                <label for="{{ field.id_for_label }}" class="{% if field.field.required %} required{% endif %}">{{ field.label }}</label>
                                                {{ field|add_class:form.fieldsets.optional_fields.classes }}
                                                {% for e in field.errors %}
                                                    <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                                {% endfor %}
                                            </div>
                                        {% else %}
                                            <label for="{{ field.id_for_label }}" class="col-sm-4{% if field.field.required %} required{% endif %}">{{ field.label }}</label>
                                            <div class="col-sm-8">
                                                {{ field|add_class:form.fieldsets.optional_fields.classes }}
                                            </div>
                                            {% for e in field.errors %}
                                                <div class="col-sm-12 help-block text-center">{{ e }}</div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
                            Hours
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            {% for field in form.fieldsets.time_fields %}
                                <div class="col-md-3">
                                    <div class="form-group pad">
                                        <label for="TODO">{{ field.label }}</label>
                                        {{ field|add_class:form.fieldsets.time_fields.classes }}
                                        {{ field.errors }}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed">

                                    <thead>

                                    </thead>

                                    <tbody>

                                    </tbody>

                                    <tfoot>

                                    </tfoot>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-cog fa-fw" aria-hidden="true"></i>
                            Parts
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed">

                                    <thead>

                                    </thead>

                                    <tbody>

                                    </tbody>

                                    <tfoot>

                                    </tfoot>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">
                            <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
                            QA Followups
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-hover table-bordered table-condensed">

                                    <thead>

                                    </thead>

                                    <tbody>

                                    </tbody>

                                    <tfoot>

                                    </tfoot>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <input class="btn btn-flat btn-primary" type="submit" value="Save" />
            </div>
        </div>

    </form>

{% endblock body %}
