input[type="text"].qa-input {
    width:85px;
    height:12px;
    text-align:right;
}

.qa-table td.qa-value {
    width:90px;
}
.qa-table td, .qa-table th{
    text-align:center;

}
.qa-table td.qa-name {
    min-width:200px;
    text-align:left;
}

.qa-table td.qa-category {
    min-width:200px;
}
tr.qa-comment {
    height:50px;
}

tr.qa-comment td, tr.qa-procedure td {
    text-align:left;
}

.qa-reference, .qa-showproc, .qa-showcmt, .qa-skip, .qa-status {
    width: 60px;
}

.inline-block {
    display:inline-block;
}

.control-label-small{
    width:50px;
    float: left;
    padding-top: 5px;
    text-align: right;
}
/* charting */
.tab-pane{width:100%;height:100%;}
.filtered-chart {
    height:500px;
}

#trend-chart {
    height:480px;
    min-width:300px;
}
#chart-legend {
    height:188px;
}
#chart-options {
    height:188px;
}

#filter-accordion{
    height:100%;
    overflow-y:auto;
}
.checkbox-container {
    white-space:nowrap;
    overflow-x: auto;
    overflow-y:auto;
    height:200px;
}

#qa-review-table {
    margin: 1em 0;
    clear: both;
}
#qa-review-table select,
#qa-review-table input{
    width:80px;
}

table.table thead .sorting,
table.table thead .sorting_asc,
table.table thead .sorting_desc,
table.table thead .sorting_asc_disabled,
table.table thead .sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
}

table.table thead .sorting { background: url('images/sort_both.png') no-repeat center right; }
table.table thead .sorting_asc { background: url('images/sort_asc.png') no-repeat center right; }
table.table thead .sorting_desc { background: url('images/sort_desc.png') no-repeat center right; }

table.table thead .sorting_asc_disabled { background: url('images/sort_asc_disabled.png') no-repeat center right; }
table.table thead .sorting_desc_disabled { background: url('images/sort_desc_disabled.png') no-repeat center right; }

/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }