{% extends "site_base.html" %}

{% block require_javascript %}
{% endblock require_javascript %}

{% block head_title %}Choose Unit for Review{% endblock %}

{% block body %}

    {% if not split_sites %}
        <div class="row">
            <div class="col-md-12">
                <div class="box">
                    <div class="box-header">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        <h3 class="box-title">Review QC By Unit</h3>
                        <p>Choose a unit below to review its QC Data.</p>
                    </div>
                    <div class="box-body unit-btns">

                        {% for unit_type, units in unit_types %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="header-spacer">{{unit_type}}</h4>
                                    <div class="btn-group btn-default btn-flat">
                                        {% if units|length > 1 %}
                                            <a class="btn btn-default btn-flat" href="{% url 'choose_review_unit' %}{% for unit in units %}{{unit.unit__number}}/{%endfor%}">All</a>
                                        {% endif %}

                                        {% for unit in units %}
                                            <a class="btn btn-default btn-flat" href="{% url 'review_by_unit' unit_number=unit.unit__number %}">{{unit.unit__name}}</a></button>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                    <div class="box-footer"></div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="row">
                <div class="col-sm-12">
                    <h4><i class="fa fa-cube" aria-hidden="true"></i>Review QC By Unit</h4>
                    <p>Choose a unit below to review its QC Data.</p>
                </div>
            </div>
            <div class="row">
                {% for site, types in unit_types.items %}
                    <div class="col-md-{{ split_by }}">
                        <div class="box">
                            <div class="box-header">
                                <h3 class="box-title">{% if site == 'zzzNonezzz' %}Other{% else %}{{ site }}{% endif %}</h3>
                            </div>
                            <div class="box-body unit-btns">
                                {% for type, units in types %}

                                    <div class="row">
                                        <div class="col-sm-12">

                                            <h4 class="header-spacer">{{ type }}</h4>
                                            {% if units|length > 1 %}
                                                <a class="btn btn-default btn-flat" href="{% url 'choose_review_unit' %}{% for unit in units %}{{unit.unit__number}}/{%endfor%}">All</a>
                                            {% endif %}
                                            {% for unit in units %}
                                                <a class="btn btn-default btn-flat" href="{% url 'review_by_unit' unit_number=unit.unit__number %}">{{unit.unit__name}}</a>
                                            {% endfor %}
                                        </div>
                                    </div>

                                {% endfor %}
                            </div>
                            <div class="box-footer"></div>
                        </div>
                    </div>

                {% endfor %}
            </div>
    {% endif %}

{% endblock %}

