{% extends "site_base.html" %}

{% load qa_tags %}
{% load qatrack_tags %}

{% block head_title %}Change Units Available Time{% endblock %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}qa/css/qa.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}daterangepicker/css/daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-daterangepicker.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}select2/css/select2.min.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}qatrack_core/css/custom-select2.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}felter/css/felter.css?v={{ VERSION }}" rel="stylesheet">
    <link href="{{ STATIC_URL }}units/css/unit_available_time.css?v={{ VERSION }}" rel="stylesheet">
{% endblock extra_css %}

{% block require_javascript %}
    require(['unit_avail']);
{% endblock require_javascript %}

{% block body_class %}layout-top-nav loading{% endblock body_class %}

{% block body %}

    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">
                        <i class="fa fa-cube" aria-hidden="true"></i>
                        Change Unit Available Times
                    </h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2">
{#                            <div class="form-group row">#}
{#                                <label for="date_range_selector" class="col-md-2 control-label">Date Range:</label>#}
{#                                <div class="col-md-10"><input id="date_range_selector" class="form-control"></div>#}
{#                            </div>#}
                            <div class="row">
                                <div class="col-sm-12">
                                    <select id="units" multiple class="form-control">
                                        {% for u in units %}
                                            <option data-active="{{ u.active }}" value="{{ u.pk }}" title="{{ u.name }}{% if not u.active %} (inactive){% endif %}">{{ u.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>For selected units and days:</label>
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div>Edit times for single days.</div>
                                            <button id="open_edit_modal" class="btn btn-flat btn-sm btn-default uat_btn" disabled data-toggle="modal" data-target="#available_edits_modal">Edit</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div id="set_uat_div" class="col-sm-12">
                                            <div>Insert or change default schedule.</div>
                                            <button id="open_uat_modal" class="btn btn-flat btn-sm btn-default uat_btn" disabled data-toggle="modal" data-target="#available_modal">Insert/Change...</button>
                                        </div>
                                    </div>
{#                                    <div class="row">#}
{#                                        <div id="set_uat_div" class="col-sm-12">#}
{#                                            <div>Delete or change default schedule.</div>#}
{#                                            <button id="change_uat" class="btn btn-flat btn-sm btn-default uat_btn" disabled data-toggle="modal" data-target="#available_change_modal">Change...</button>#}
{#                                        </div>#}
{#                                    </div>#}
                                </div>
                            </div>

                        </div>
                        <div class="col-md-10">

                            <div class="row margin-bottom-5">
                                <div class="col-sm-12">
                                    <div id="prev-month" class="btn btn-flat btn-default btn-sm"><i class="fa fa-chevron-left"></i></div>
                                    <div class="display-inline-block">{{ unit_availble_time_form.month_select }}</div>
                                    <div class="display-inline-block">{{ unit_availble_time_form.year_select }}</div>
                                    <div id="next-month" class="btn btn-flat btn-default btn-sm"><i class="fa fa-chevron-right"></i></div>
                                </div>
                            </div>

                            <div id="svg-container"></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="available_edits_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit available time for selected days.</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <label class="col-sm-6" for="edit_input">Avaiable time *</label>
                        <div class="col-sm-6">
                            <input id="edit_input" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row form-group">
                        <label class="col-sm-6" for="name_input">Name</label>
                        <div class="col-sm-6">
                            <input id="name_input" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row has-error">
                        <div id="edit_error"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="delete_edit" type="button" class="btn btn-default btn-flat pull-left">Delete</button>
                    <button id="insert_change_edit" type="button" class="btn btn-default btn-flat">Insert/Change</button>
                </div>
            </div>

        </div>
    </div>

    <div id="available_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Insert available time for selected day.</h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="row seven-cols no-gutters">
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_sunday.label }} hours">
                                    {{ unit_availble_time_form.hours_sunday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_monday.label }} hours">
                                    {{ unit_availble_time_form.hours_monday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_tuesday.label }} hours">
                                    {{ unit_availble_time_form.hours_tuesday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_wednesday.label }} hours">
                                    {{ unit_availble_time_form.hours_wednesday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_thursday.label }} hours">
                                    {{ unit_availble_time_form.hours_thursday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_friday.label }} hours">
                                    {{ unit_availble_time_form.hours_friday }}
                                </div>
                                <div class="col-md-1 {% comment %}padding-right-5 padding-left-5{% endcomment %}" title="{{ unit_availble_time_form.hours_saturday.label }} hours">
                                    {{ unit_availble_time_form.hours_saturday }}
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="row has-error">
                        <div id="uat_error"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="delete_uat" type="button" class="btn btn-default btn-flat pull-left" title="Delete schedule change">Delete</button>
                    <button id="insert_change_uat" type="button" class="btn btn-default btn-flat" {% comment %}data-dismiss="modal"{% endcomment %}>Insert/Change</button>
                </div>
            </div>

        </div>
    </div>

    <div id="available_change_modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 id="change_uat_title" class="modal-title"></h4>
                </div>
                <div class="modal-body">
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="row seven-cols no-gutters">
                                <div class="col-md-1" title="Sunday hours">
                                    <input type="text" name="hours_sunday_change" required="" id="id_hours_sunday_change" class="form-control duration weekday-duration" placeholder="sunday">
                                </div>
                                <div class="col-md-1" title="Monday hours">
                                    <input type="text" name="hours_monday_change" required="" id="id_hours_monday_change" class="form-control duration weekday-duration" placeholder="monday">
                                </div>
                                <div class="col-md-1" title="Tuesday hours">
                                    <input type="text" name="hours_tuesday_change" required="" id="id_hours_tuesday_change" class="form-control duration weekday-duration" placeholder="tuesday">
                                </div>
                                <div class="col-md-1" title="Wednesday hours">
                                    <input type="text" name="hours_wednesday_change" required="" id="id_hours_wednesday_change" class="form-control duration weekday-duration" placeholder="wednesday">
                                </div>
                                <div class="col-md-1" title="Thursday hours">
                                    <input type="text" name="hours_thursday_change" required="" id="id_hours_thursday_change" class="form-control duration weekday-duration" placeholder="thursday">
                                </div>
                                <div class="col-md-1" title="Friday hours">
                                    <input type="text" name="hours_friday_change" required="" id="id_hours_friday_change" class="form-control duration weekday-duration" placeholder="friday">
                                </div>
                                <div class="col-md-1" title="Saturday hours">
                                    <input type="text" name="hours_saturday_change" required="" id="id_hours_saturday_change" class="form-control duration weekday-duration" placeholder="saturday">
                                </div>

                            </div>
                        </div>
                    </div>

                    <input id="uat_id" type="hidden">

                    <div class="row has-error">
                        <div id="uat_error"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="delete_change" type="button" class="btn btn-default btn-flat pull-left" title="Delete schedule change">Delete</button>
                    <button id="submit_change" type="button" class="btn btn-default btn-flat">Change</button>
                </div>
            </div>

        </div>
    </div>

    {% block loading_modal %}
        <div class="loading-modal ">
            <div class="center">
                <div>
                    <span class="loading-logo">QAT</span>
                    <i class="fa fa-fw fa-plus fa-spin fa-2x info"></i>
                </div>
                <div>
                    <b>
                        Loading...
                    </b>
                </div>

            </div>
        </div>
    {% endblock loading_modal %}

{% endblock body %}