
.left-btns {
    width: 90px;
    margin: 4px 0;
}
.danger {
    color: #b94a48;
}
.danger label div.label-text {
    font-weight: bold;
}
/*label:not(.required) {*/
    /*font-weight: normal;*/
/*}*/
.no-margin-bottom {
    margin-bottom: 0 !important;
}
.italics {
    font-style: italic;
}
.status-dates dl > dt {
    width: 120px;
}
.status-dates dl > dd {
    margin-left: 130px;
    min-width: 130px;
}

.bordered {
    border: 1px solid #ddd;
}
.small-pad {
    padding: 4px;
}
.max-width-100 {
    max-width: 100px;
}
.max-width-75 {
    max-width: 75px;
    width: 75px;
}
.max-width-50 {
    max-width: 50px;
    width: 50px;
}
.min-width-200 {
    min-width: 200px;
}
.margin-left-2 {
    margin-left: 2px;
}
.box.box-bordered-default {
    border: 1.5px solid rgb(210, 214, 222);
}

/* Override width of pk column to something smaller */
#listable-table-sl_list_all > thead > tr:nth-child(2) > th:nth-child(2) > span > input,
#listable-table-qaf_list_all > thead > tr:nth-child(2) > th:nth-child(2) > span > input {
    min-width: 45px;
}
#listable-table-sl_list_all > tbody > tr > td:nth-child(2),
#listable-table-qaf_list_all > tbody > tr > td:nth-child(2) {
    width: 50px;
}
#listable-table-sl_list_all > thead > tr:nth-child(2) > th:nth-child(3) > span > input {
    min-width: 65px;
}
#listable-table-sl_list_all > tbody > tr > td:nth-child(3) {
    width: 70px;
}
#listable-table-sl_list_all > thead > tr:nth-child(2) > th:nth-child(10) > span > input {
    min-width: 145px;
}
#listable-table-sl_list_all > tbody > tr > td:nth-child(10) {
    width: 150px;
}

/*QA Status Spans                                 */
.no_tol {
    background-color:#00c0ef;
}
.ok {
    background-color:#00a65a;
}
.action {
    background-color:#dd4b39;
}
.tolerance {
    background-color: #f39c12;
}
.not_done {
    background-color: #b5bbc8;
}
.timeline-toggle {
    border-radius: 50%;
}
.timeline-toggle > i.fa-stack-custom-main {
    left: 3px;
    top: 9px;
}
.timeline-toggle > i.fa-stack-custom-sub {
    left: 3px;
    top: 5px;
}
i.timeline-toggle:hover {
    background-color: rgb(0, 0, 0) !important;
    /*background-color: #00ff00 !important;*/
}
.timeline-toggle:hover > i.fa-stack-custom-main {
    color: white;
    /*background-color: #00ff00 !important;*/
}
.timeline-toggle.off {
    background-color: #b5bbc8 !important;
}
.timeline-toggle.off > i.fa {
    color: white;
}

.timeline-custom > li {
    margin-bottom: 0;
}
.timeline-custom > li.time-label {
    margin: 15px 10px 15px 0;
}
/*.timeline-custom > li.time-label > span {*/
    /*border-radius: 0;*/
/*}*/
.timeline-custom > li > i.fa {
    margin-top: 10px;
}
.timeline-custom > li > .timeline-item {
    box-shadow: none;
    /*background-color: rgba(60,141,188,0.2);*/
    border-radius: 0;
    cursor: pointer;
}
.timeline-custom > li > .timeline-item:hover {
    background-color: rgba(60,141,188,0.6);
}
.timeline-custom > li > .timeline-item > .time {
    width: 120px;
    padding-top: 15px;
}
.timeline-custom > li > .timeline-item > h3.timeline-header {
    padding: 15px;
    border: 0;

}