{% extends "site_base.html" %}
{% load staticfiles %}


{% block body %}
<div class="row-fluid">
    <div class="span12">
        <h2>Choose a Unit to Perform QA On</h3>
    </div>
</div>
<div class="row-fluid">
	<div class="span12">
		Click a button to perform {{QA_FREQUENCIES.0.1}} QA for one of the units below.
	</div>
</div>
{% regroup units by type as unit_type_list %}
{% for unit_type in unit_type_list %}
	<div class="row-fluid row-spacer">
		<div class="span12">

			<h4 class="header-spacer">{{unit_type.grouper.name}}</h4>
			{% for unit in unit_type.list %}

				<div class="btn-group" style="float:left">
					<button class="btn top-level"><a href="{% url qa_by_frequency_unit frequency="short-interval" unit_number=unit.number %}">{{unit.name}}</a></button>
					<button class="btn dropdown-toggle" data-toggle="dropdown">
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% for freq in QA_FREQUENCIES %}
						<li>
							<a href="{% url qa_by_frequency_unit frequency=freq.0 unit_number=unit.number %}">{{unit.name}} &mdash; {{freq.1}}</a>
						</li>
						{% endfor %}

					</ul>
				</div>

			{% endfor %}
		</div>
	</div>

{% endfor %}
<script type="text/javascript">
	$(".btn.top-level").click(function(){
		window.location = $(this).nextAll("ul").find("a").first().attr("href");
	});
</script>

{% endblock %}

