{% extends "site_base.html" %}

{% block require_javascript %}
{% endblock require_javascript %}

{% block head_title %}Choose Unit for Review{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header">
                    <i class="fa fa-cube" aria-hidden="true"></i>
                    <h3 class="box-title">Review QA By Unit</h3>
                    <p>Choose a unit below to review its QA Data.</p>
                </div>
                <div class="box-body pad">

                    {% for unit_type, units in unit_types %}
                        <div class="row margin">
                            <div class="span12">
                                <h4 class="header-spacer">{{unit_type}}</h4>
                                <div class="btn-group btn-default btn-flat">
                                    {% if units|length > 1 %}
                                        <a class="btn btn-default btn-flat" href="{% url 'choose_review_unit' %}{% for unit in units %}{{unit.unit__number}}/{%endfor%}">All</a>
                                    {% endif %}

                                    {% for unit in units %}
                                        <a class="btn btn-default btn-flat" href="{% url 'review_by_unit' unit_number=unit.unit__number %}">{{unit.unit__name}}</a></button>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div class="box-footer"></div>
            </div>
        </div>
    </div>

{% endblock %}

