{% extends "admin/change_form.html" %}
{% block after_field_sets %}{{ block.super }}
<h3>Member of the following TestLists:</h3>
<ul>
    {% for test_list in original.testlist_set.all %}

        <li><a href="{%url 'admin:qa_testlist_change' test_list.pk%}">{{ test_list.name }}</a></li>
    {% endfor %}
</ul>
<h3>Assigned to the following Units:</h3>
<ul>
    {% for uti in original.unittestinfo_set.all %}
        <li><a href="{% url 'admin:qa_unittestinfo_change' uti.pk %}">{{ uti.unit }} with Ref={{uti.reference }} &amp; Tolerance = {{uti.tolerance}}</a></li>
    {% endfor %}
</ul>

{% endblock %}
